[2016-01-21 16:19] nicanaca0 opened #2 "TypeError in spotify.py due to NoneType instead of str"
def save_songs_to_file(songs):
        with open('songs.txt', 'a') as f:
            f.write('\n'.join(songs))
        f.close()

Changed to this which worked but not sure if there is a better way to handle the None Type / TypeError

    def save_songs_to_file(songs):
        try:
            with open('songs.txt', 'a') as f:
                f.write('\n'.join(songs))
            f.close()

[2016-01-21 16:40] SathyaBhat commented on #2
I think that should do it.  Feel free to send a pull request :)

[2016-01-24 10:53] kracekumar opened #3 "Rerunning the command appends the urls to `songs.txt`"
[code]

Also new urls aren't added in new line.

[2016-01-24 15:49] #3 closed

[2016-01-24 16:39] SathyaBhat commented on #3
Thanks @kracekumar!

[2016-01-24 20:30] kracekumar commented on #2
I faced similar issue. The source of the problem is `url` returned by `fetched_youtube_url` is `None`. Better way to fix is

[code]

[2016-01-24 20:43] kracekumar opened #5 "Suggestion: Pass download directory along with `-d` option"
`-d` option downloads the song in directory from where the command is run. Passing explicit directory option saves time in moving the files post download and cleanup. This will be handy when the command is run from cron job.

[2016-01-24 20:47] kracekumar commented on #5
Other option is to write a shell script and move the `.mp3` to destination directory like

[code]

[2016-01-25 04:51] #2 closed

[2016-01-25 04:54] SathyaBhat commented on #5
Good suggestion, I've had this thought to have it downloaded elsewhere but never got to it.

[2016-01-28 06:46] mr-karan commented on #5
Please take a look at [this](https://github.com/mr-karan/spotify-dl/commit/aa85eca865733aba54b1d182fabbd07a411d2641)

[2016-01-28 06:49] kracekumar commented on #5
Above mentioned method will fail on Linux. Better to interpolate the value
passed by the user.

On Thu, Jan 28, 2016 at 12:16 PM, Karan Sharma <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2016-01-28 07:06] mr-karan commented on #5
^ I tried it on my system (Arch Linux), it worked as expected.

[2016-01-28 07:13] mr-karan commented on #5
I can write another function which will pass the user specified directory to `outtmpl`. Do you suggest that would be better ?

[2016-01-28 07:34] kracekumar commented on #5
Yes. Passing the user supplied option will be better.

On Thu, Jan 28, 2016 at 12:43 PM, Karan Sharma <notifications@github.com>
wrote:

--
Regards
Kracekumar Ramaraj
http://kracekumar.com

[2016-01-28 09:01] mr-karan commented on #5
I have made the changes. Please check [this](https://github.com/mr-karan/spotify-dl/commit/c9b6577f5a74df47d12a0f73d64e4fb7c048001e). Sorry about a typo, which has been fixed in later commits.

[2016-01-30 05:56] #5 closed

[2016-02-23 13:33] SathyaBhat opened #8 "Clean up file names"
Lot of the file names have things like "official video", "lyric video" etc. Need to clean them up &rename them

[2016-02-23 13:33] SathyaBhat opened #9 "Assign id3 tags"
Need to assign id3 tags - nothing complicated for now, just simple artist - track title

[2016-02-23 13:34] SathyaBhat opened #10 "Move to package"
Should move this to package to submit to [PyPI](https://pypi.python.org/pypi).

[2016-02-23 13:37] SathyaBhat opened #11 "Change tokens.py behaviour"
Current workflow is to clone the repo and then edit `tokens.py` to add in the keys. This is highly undesirable, especially when changed to package format (see #10)

Options

1. Use environment variables
2. Use secrets.txt or equivalent
3. Fetch tokens from my server

-----
About options:

1. clogs env variables, not very clean.
2. Looking at this.
3. Might consider this as well

[2016-02-23 13:40] SathyaBhat opened #12 "Change default behaviour"
When I first built the script a simple `python spotfy-dl.py` was enough

Now for it to download to a specific directory, it needs several arguments:

[code]

Consider changing behaviour or use something like spotify_dl.rc where default options (playlist/output directory) are stored

[2016-07-01 13:05] SathyaBhat commented on #10
Done

[2016-07-01 13:05] #10 closed

[2016-07-01 13:06] SathyaBhat commented on #11
tokens.py removed in 7232b9a78b225a7f7a043a7299c026e0d6b729a2 and using env. variables now/

[2016-07-01 13:06] #11 closed

[2016-08-19 18:16] SathyaBhat commented on #9
PR #19 takes care of this

[2016-08-19 18:53] doulwyi opened #20 "Search on youtube without google-api"
I think it is a bit complicated to generate a code to use google-api. This code may substitute google-api:

Using beautifulSoup
http://stackoverflow.com/questions/29069444/returning-the-urls-from-a-youtube-search

Or this using urllib:
`def show_youtube_url(track, artist):
        full_search = track+ ' ' + artist
        print(full_search)
        query_string = urllib.parse.urlencode({"search_qu

[2016-08-19 18:55] mr-karan commented on #20
I'm personally not in favour to use scraping over an API.

[2016-08-19 19:05] doulwyi commented on #20
Just to avoid to create google-API key which is a bit more complicated than spotify's key.

[2016-08-23 18:26] SathyaBhat commented on #20
Scraping Google gives us a headache of not knowing when Google would block us, especially for larger playlists. yes, getting a dev key is a bit annoying especially with Google constantly moving things around but IMHO it's better as it's a one time thing to do

[2016-08-23 18:33] #20 closed

[2016-08-28 20:45] hmehra opened #21 "Unable to run spotify_dl on Ubuntu 16.04"
I am unable to run spotify_dl. I installed the package using pip3.
Here is the output of pip show -
[code]

When the run the command from the prompt, the path does not pick it up.
[code]

[2016-08-29 08:49] mr-karan commented on #21
`spotify-dl`, not `spotify_dl`

[2016-08-29 09:07] SathyaBhat commented on #21
@mr-karan it was changed to `spotify_dl` post packaging branch merge  https://github.com/SathyaBhat/spotify-dl/blob/master/setup.py#L31

[2016-08-29 09:26] SathyaBhat commented on #21
@hmehra Hey, thanks for the report.

Did you use sudo while installing? If not please do remove and reinstall with sudo

    pip3 uninstall spotify_dl
    sudo pip3 install spotify_dl

I see that's not mentioned in the README, 'll update it accordingly.

[2016-08-29 09:31] SathyaBhat opened #22 "Combine -s & -o flags to download songs to -o directory with playlist name as subdirectory"
Originally spotify-dl dumped the songs to cwd. With `-o` flag, we could give a directory to download the songs.

@doulwyi [added a feature](https://github.com/SathyaBhat/spotify-dl/pull/19/commits/3607c3de5ac1d7f61d3f6b2665bb047c280d6e56#diff-a5a7154493f2757627252f5ac47aa350R51) to use `-s` to download songs in desktop directory with playlist's name. I think we should combine `-o` and `-s` to so t

[2016-08-30 07:02] hmehra commented on #21
Worked like a charm @SathyaBhat

[2016-08-30 07:02] #21 closed

[2016-10-03 18:44] mananpal1997 commented on #12
Can you please explain it more briefly? @SathyaBhat

[2016-10-03 21:44] rhnvrm commented on #12
@mananpal1997 `.rc` files are used to store configurations. Since right now you need to add various arguments, it would be convenient to have a config file.

[2016-10-05 02:33] belfazt commented on #8
Can I have more context on this?

[2016-10-05 07:35] SathyaBhat commented on #8
@belfazt Currently after youtube-dl downloads the file, the filename will mirror what's on the YouTube title.  For ex, if Spotify playlist has "The Spoons - Inside out" as the song, then when spotify-dl searches for this  song, it'll fetch https://www.youtube.com/watch?v=IoBJ0CfdSZQ which has the title as "SPOON "Inside Out" official video" and this will be reflected in the filename as well.

This

[2016-10-05 07:38] SathyaBhat commented on #12
@rhnvrm thanks for clearing that.

[2016-10-08 17:42] #9 closed

[2016-10-14 13:55] harman28 opened #24 "Error during first authentication"
INFO: 2016-10-14 19:20:23,550 - _new_conn - Starting new HTTPS connection (1): accounts.spotify.com
    Traceback (most recent call last):
      File "/Library/Frameworks/Python.framework/Versions/3.5/bin/spotify_dl", line 11, in <module>
        sys.exit(spotify_dl())
      File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/spotify_dl/spotify_dl.py", line 49, in s

[2016-10-14 15:51] SathyaBhat commented on #24
Thanks for the report @harman28. Can you let me know what command did you issue when you started spotify-dl?

[2016-10-14 15:55] harman28 commented on #24
`spotify_dl -d -p 7g9ZKMvQZJELrW7H2wMcpH -u harman28 -o .`

[2016-10-14 17:22] #24 closed

[2016-10-14 17:24] SathyaBhat commented on #24
@harman28 thanks, should be fixed. Let me know if you run into other others issues :)

Update spotify_dl by running `pip3 install spotify_dl --upgrade`

[2016-10-31 13:18] SathyaBhat commented on #22
fixed thanks to @hacktohell

[2016-10-31 13:18] #22 closed

[2016-12-04 23:14] Jarvvski opened #27 "local variable 'user_id' referenced before assignment"
No idea what has gone wrong, though I'm guessing it's an auth issue.

Tried uninstalling and re-installing to no avail.

[code]

[2016-12-05 03:13] SathyaBhat commented on #27
Thanks for the report.

I see you're trying to download a single track as seen by

`spotify:track:52s9OJ4nuKQTIARqu939fg`

let me see if I can add single file download support

[2016-12-16 16:10] lakshaykalbhor commented on #8
Hey, (MusicRepair)[https://github.com/lakshaykalbhor/musicrepair) is something that could be helpful here. It adds metadata and improves the file names and fetches the metadata from Spotify. It even adds the lyrics.

[2016-12-22 09:45] SathyaBhat commented on #8
@lakshaykalbhor  hey thanks mentioning MusicRepair. I'll take a look at integrating it.

[2016-12-24 18:08] msoedov opened #28 "Installation issue"
I have installed spotify-dl with pip however the cli script refers to #!/usr/bin/python which is python 2 in my case and guess it should be pretty common across Mac users and old linux distro's. I don't have any hot fix in mind except of installing in under a virtual env with python3 .

[code]

[2016-12-26 10:55] SathyaBhat commented on #28
Thanks for the report. I do mention spotify-dl needs Python 3+ in the pre-requisites. I'll keep this open to see if I can fix this somehow.

Cheers

[2017-02-12 08:18] roman-ku opened #29 "How to set up build envirnment?"
I want to add some features to the script, how do I set up my build/test environment?

[2017-02-12 08:42] avinassh commented on #29
Like how you do with any Python project. Setup virtualenv with Python 3 and you are good to go and follow the instructions mentioned in the [README](https://github.com/SathyaBhat/spotify-dl#how-do-i-get-this-thing-running). We don't have tests, yet, but you can try running [`test_downoad.py`](https://github.com/SathyaBhat/spotify-dl/blob/master/test_download.py)

[2017-02-12 08:42] #29 closed

[2017-02-12 08:44] roman-ku commented on #29
Many thanks! I will try it out.

[2017-02-15 19:40] sanghviharshit opened #30 "ModuleNotFoundError: No module named"
I am getting this error when trying it in virtualenv with python3 and the requirements from requirements.txt installed.

[code]

Is there anything that I'm missing?

[2017-02-15 19:43] sanghviharshit commented on #30
FYI - I am on Mac

[2017-02-16 05:35] SathyaBhat commented on #30
This seems to rise from upstream oauth client has been changed. Will take a look.

Reference:

- https://github.com/google/google-api-python-client/issues/179
- https://github.com/google/oauth2client/issues/414

[2017-02-19 19:13] SathyaBhat commented on #29
@roman-ku,  Just to add to what @avinassh said, you can try out your changes by

- removing the installed package
    pip3 uninstall spotify_dl
- Clone the repo
- Do your changes
- Install your local changes by entering

        pip3 install -e .

in the same directory where setup.py is present

[2017-02-19 19:15] SathyaBhat commented on #30
@sanghviharshit thanks for the report. I've added a temporary fix. You can upgrade your existing install by typing

    sudo pip3 install spotify_dl --upgrade

let me know if the problem persists

[2017-02-24 16:21] djwatt3 opened #31 "Error TypeError: 'NoneType' object is not subscriptable`"
Hi, i receive this error

`iMac:Carnevale djwatt3$ spotify_dl -d -p 5ITf8JZG3PtbIDix90cqNk -u 1135594852 -o .

INFO: 2017-02-24 17:20:19,274 - spotify_dl - Starting spotify_dl

INFO: 2017-02-24 17:20:20,214 - spotify_dl - Saving songs to: Carneval

Traceback (most recent call last):
  File "/usr/local/bin/spotify_dl", line 11, in <module>
    sys.exit(spotify_dl())
  File "/usr/local/lib/python3.6

[2017-02-24 16:42] SathyaBhat commented on #31
Thanks for the report @djwatt3

it seems to be working fine for me. Can you try updating:

    pip3 install spotify_dl --upgrade

once done try running

    spotify_dl -V -d -p 5ITf8JZG3PtbIDix90cqNk -u 1135594852 -o .

Alternatively once you've updated, you can try using the Spotify URI like so:

    spotify_dl -V -i spotify:user:1135594852:playlist:5ITf8JZG3PtbIDix90cqNk -o .

[2017-02-24 17:05] djwatt3 commented on #31
Other playlists works, it above doesn't work for me but isn't a problem.
Probally there is a song with name problem.
Thanks

[2017-02-24 17:13] SathyaBhat commented on #31
i'll reopen, will handle the exception so it doesn't error out at all.

[2017-02-24 19:18] SathyaBhat commented on #31
last fix not working, reopen.

[2017-02-24 19:19] #31 closed

[2017-02-27 02:56] sanghviharshit commented on #30
It works now. Thanks for providing the quick fix!

[2017-03-15 06:11] shantanugoel commented on #8
We can probably just use the original artist/track info that we got from spotify to rename the files instead of what youtube-dl picks from video name. Would that be good enough so I can add that? Or do you want to explore MusicRepair?

[2017-03-15 06:18] SathyaBhat commented on #8
That's good enough.. I think anything more wouldn't be that helpful

On 15-Mar-2017 11:41 AM, "Shantanu Goel" <notifications@github.com> wrote:

[2017-04-03 14:12] ink404 commented on #27
this problem is fixed for albums by adding the album to a playlist which the program can handle

[2017-04-19 13:21] SathyaBhat opened #39 "Verify that youtube video matches the search term"
https://twitter.com/bsgreenb/status/853456868655587329

[2017-04-19 14:11] avinassh commented on #39
Can you give me some examples?

[2017-04-19 14:27] SathyaBhat commented on #39
Sure, something like this:

http://stackoverflow.com/questions/5859561/getting-the-closest-string-match

The idea is to use Levenshtein distance to ensure that what the
track/artist that was searched for is a close match to what YouTube results
return

 -- Sathya
http://sathyabh.at | http://sbhat.me

On Wed, Apr 19, 2017 at 7:41 PM, avinassh <notifications@github.com> wrote:

[2017-04-19 14:32] avinassh commented on #39
How?

For example, if user enters `Emenem` and if YT returns no results, we should search for strings which are close match to `Emenem`?

So task here is to generate strings based on some fixed Levenshtein distance (may be .9+) and search for those?

[2017-04-19 19:29] alvierahman90 commented on #12
Would it be preferred to use json or ConfigParser for this?

[2017-04-24 12:55] SathyaBhat commented on #12
@alvierahman90 I'm open to either, whatever you feel comfortable with :smile:

[2017-04-24 13:00] SathyaBhat commented on #39
That's one option - the other way of looking is to calculate the distance of what was searched vs what was returned from the search and if it's beyond a threshold then don't download it

[2017-04-24 13:50] alvierahman90 commented on #12
Cool cool. I'll get on it

On Mon, Apr 24, 2017, 13:55 Sathya <notifications@github.com> wrote:

[2017-04-24 20:16] alvierahman90 commented on #12
I have this code which works but I feel there is a better way to do it. Shall I just go with it?
[code]

[2017-04-25 05:13] SathyaBhat commented on #12
@avinassh do you have any suggestions?

[2017-04-25 05:31] avinassh commented on #12
@SathyaBhat I will check thoroughly in evening.

And please no pokemon exceptions.

[2017-04-26 21:40] alvierahman90 commented on #12
This is good, right?
[code]

[2017-04-27 06:52] avinassh commented on #12
@alvierahman90 sure. test locally once and send a PR. I will make suggest changes there or I will submit another patch with changes.

The whole thing could be reduced to:

[code]

[2017-05-01 19:53] alvierahman90 commented on #39
Before the algorithm is run, the title should be tested against a white and blacklist. For example titles like `[Artist]-[Song] (Official  *music video*)`  should be automatically passed but titles containing `remix` or `mashup` shouldn't be downloaded

[2017-05-13 07:21] #12 closed

[2017-06-03 13:46] SathyaBhat opened #44 ""can only concatenate list (not "str") to list" error when providing output directory"
Version:
[code]

Command started to run spotify-dl

   spotify_dl.exe -l https://open.spotify.com/user/anjunadeep/playlist/1GfH39JcID8aFZ0ZQQVkBk -o .

Error message:

[code]

[2017-06-03 13:53] avinassh commented on #44
happens only windows?

[2017-06-03 14:24] SathyaBhat commented on #44
Haven't v tried on Linux but it should be happening on all. `args` is a
list, that's causing the problem

On Jun 3, 2017 7:23 PM, "avinassh" <notifications@github.com> wrote:

[2017-06-03 14:33] avinassh commented on #44
can take this up, if you have not started working on it

[2017-06-03 14:34] SathyaBhat commented on #44
Have fixed it in local but go ahead 😁

On Jun 3, 2017 8:03 PM, "avinassh" <notifications@github.com> wrote:

[2017-06-03 14:34] avinassh commented on #44
lol, no. push it. I will take up next one 😋

[2017-06-03 16:57] SathyaBhat commented on #44
@avinassh my fix isn't working as expected and i'm not around for the next couple of days.. all yours 👍

[2017-06-04 08:08] avinassh commented on #44
nice!

can you also give me similar success case?

[2017-06-04 08:23] SathyaBhat commented on #44
Try skipping the `- o .` option

On Jun 4, 2017 1:38 PM, "avinassh" <notifications@github.com> wrote:

[2017-06-26 15:15] MushroomMaula opened #45 "Setting enviroment variables not working"
I'm using Windows 10
I tried setting the environment variables with:
setx SPOTIPY_CLIENT_ID 'clientid' etc.
Which didn't work.
I also tried adding them without the console like this:
Open Control Panel » System » Advanced » Environment Variables » New(under Systemvariables not Uservariables because they were added there after i used the "setx" command)
Name:SPOTIPY_CLIENT_ID
Value:'clientid'

[2017-06-26 15:26] MushroomMaula commented on #45
Edit: With using "set"(only sets the variables aslong as the command prompt is open) instead of "setx" it gave me the authorization link(which gave me a error probably i made a mistake while copying my credentials, checking right now)

[2017-06-26 15:27] SathyaBhat commented on #45
Hi @MushroomMaula thanks for reporting. Did you restart your terminal after adding the environment variables? Do try adding the environment variables from Control Panel » System » Advanced » Environment Variables » New and once added, launch a new cmd window and try - that's usually how I do and works fine

[2017-06-26 15:36] MushroomMaula commented on #45
I think i didn't close the console but i tried adding them via the Control Panel and it didn't work. Did you add them to User- or Systemvariables?

[2017-06-26 15:53] SathyaBhat commented on #45
You'll have to close and re-open the terminal, I have them on system variables.

![image](https://user-images.githubusercontent.com/25424/27548143-ad2e667e-5ab5-11e7-9e2b-fce61cdf9584.png)

[2017-06-26 15:58] MushroomMaula commented on #45
Thanks works now!
 Btw maybe you should add to your "README" that you have to close and re-open the terminal and that you have to write your client id etc with out the apostroph because this will give you and error when you get the authentication link

[2017-06-26 15:58] #45 closed

[2017-06-26 16:00] SathyaBhat commented on #45
@MushroomMaula Great, thanks for the feedback, I'll update the readme

[2017-07-21 13:26] #44 closed

[2017-07-30 03:54] grohit19 opened #50 "I am getting traceback - bad request error, pls help"
C:\Users\Rohit New\Dropbox\My Music>spotify_dl
INFO: 2017-07-30 09:20:34,232 - spotify_dl - Starting spotify_dl

            User authentication requires interaction with your
            web browser. Once you enter your credentials and
            give authorization, you will be redirected to
            a url.  Paste that url you were directed to to
            complete the authorization.

Pleas

[2017-08-02 07:41] SathyaBhat commented on #50
You've given the redirect URL as developer.spotify.com.

So what happens is that the access token, as present in URL given by `?code=AQDYUH...` is mangled because things like  `#!/applications#!%2Fapplications%2F73a65585e7d14f8cbe03893c742171be` is appended to the access token and hence Spotify is complaining about oAuth error

I'd suggest giving a different redirect URL

[2017-08-02 07:43] SathyaBhat commented on #28
#47 now enforces py3+

[2017-08-02 07:43] #28 closed

[2017-08-03 17:42] elbro commented on #50
I have the same issue now after not using this tool for a few months.  I am sure that my callback URL is not mangled :

`http://localhost/callback?code=AQC8W1Hm_50N8rlYCb2qqURs5Lkxsr2FQQB3uI1FfXpbasSCnh1C55CQNfIxTsOX4-YOES3FbPlsLOGs_Olroax7rbKSygrRyfdyK0dbp58u0nvAjDE9dauj-el5q6RtQVR3IvO1lRf6EUKaovUkO7izSZYgcn_ZaPAB8lnaMCG3Q_GVzTerzPILtknqHIV-0zOPZ-uZjTmfycVCi1GAgJw7`

[2017-08-04 11:40] SathyaBhat commented on #50
@elbro @grohit19 I guess the oAuth token has expired. look for a file called `.cache-` in your home directory

     ls -lah .cache-

    sathya at sathyabhat ~
    $ ls -lah .cache-
    -rw-r--r--  1 sabhat  staff   419B Aug  4 14:31 .cache-

Delete this file

    rm ~/.cache-

and try downloading again, it should prompt you to reauthenticate

[2017-08-04 14:39] elbro commented on #50
I had no .cache file in home directory. In my case it was because an outdated %SPOTIPY_REDIRECT_URI% env variable being read by my terminal.

`refreshenv` command fixed this and script is working now :). Cheers

[2017-08-05 03:35] grohit19 commented on #50
Now I am seeing this error :(

D:\Google Drive Folder\MyMusic_G_Drive>spotify-dl https://open.spotify.com/album
/5YBY91ePHZWzgsLRrDK8DI
warning:expected id of type album but found type https spotify:album:https://ope
n.spotify.com/album/5YBY91ePHZWzgsLRrDK8DI
Traceback (most recent call last):
  File "c:\program files (x86)\python35-32\lib\site-packages\spotipy\client.py",
 line 107, in _internal_

[2017-08-06 16:42] SathyaBhat commented on #50
@grohit19 the script doesn't support downloading albums, only playlists. Please create a new issue for this

[2017-08-08 23:13] zverbeta commented on #50
Thanks.

redirect_url can be specified on github pages

[2017-11-29 09:40] TiCaillou opened #51 "TypeError: expected string or bytes-like object"
INFO: 2017-11-29 10:16:00,231 - spotify_dl - Starting spotify_dl

            User authentication requires interaction with your
            web browser. Once you enter your credentials and
            give authorization, you will be redirected to
            a url.  Paste that url you were directed to to
            complete the authorization.

Impossible d'obtenir le descripteur de fichier faisa

[2017-12-05 16:59] SathyaBhat commented on #51
Sorry for the delayed response, will take a look at this soon,

[2017-12-24 18:43] SathyaBhat opened #52 "Add support for albums"
Passing an URL for album causes script to crash as mentioned in #50

[code]

[2017-12-24 18:43] SathyaBhat commented on #50
tracked in #52

[2018-02-15 03:30] SathyaBhat commented on #51
I had another report from @olivejun about this

[code]

And I see the problem now:

    spotify_dl -V -d -p 3Emr6jGUqy6dPKP8JSewMr -u mixmagofficial -o ~/Music/Spotify

I think I had removed the older style feature of entering the playlist id and username. Now, if you just provide the playlist URL, it should work

@olivejun Is this the playlist you wanted to fetch?

can you please try this:

[code

[2018-02-15 05:12] olivejun commented on #51
@SathyaBhat your solution worked! currently downloading the playlist now :) i'll test it with other playlists to see how it works. will let you know how it goes. thanks!

[2018-04-11 04:56] SathyaBhat commented on #51
@phiresky yep, need to fix that bug

[2018-10-25 18:57] janLuke opened #54 "[Bug] Downloading favorite songs"
The documentations says:

This is what happens if I only provide the "--output" argument:
[code]
I saw the `fetch_tracks` function should do that when the `playlist` is `None`, but that cannot simply happen because `spotify_dl` requires a valid playlist link. Am I missing something?

[2018-10-25 19:05] SathyaBhat commented on #54
No, the original feature slipped through the cracks. I'll keep this open to track this

[2018-12-27 21:24] day4me opened #55 "youtubeAPI error"
`googleapiclient.errors.HttpError: <HttpError 403 when requesting https://www.googleapis.com/youtube/v3/search?q=Frequency+-+Matt+Nash&part=id%2C+snippet&key=AIzaSyCHPBf2GOLGgl2j_dI4MuLYD_Q2VmX1BJ4&alt=json returned "Access Not Configured. YouTube Data API has not been used in project 650384262474 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/youtub

[2018-12-27 21:38] alvierahman90 commented on #55
Have you tried using the link that the error message says[0]?

[0]
https://console.developers.google.com/apis/api/youtube.googleapis.com/overview?project=650384262474

On Thu, 27 Dec 2018, 21:24 day4me <notifications@github.com wrote:

[2018-12-27 21:46] day4me commented on #55
Yes, I tried. I created new key but i doesn't work.

[2018-12-27 21:53] alvierahman90 commented on #55
It asked you to enable the key not create a new one though

On Thu, 27 Dec 2018, 21:46 day4me <notifications@github.com wrote:

[2018-12-27 21:54] day4me commented on #55
It was enabled so i try to create a new one

[2018-12-28 05:08] mr-karan commented on #55
It looks more like an API key issue, as the error says:

`If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.`

Did you enable Youtube Data API and retry?

[2018-12-28 11:12] day4me commented on #55
Yes

[2018-12-28 13:40] SathyaBhat commented on #55
As others mentioned, it's more of YouTube API issue. If you have any adblockers such as uBlock origin, I recommend disabling adblockers for the site, reload, disable and re-enable the key and try again in 10 minutes.

If that doesn't work, post a screenshot of https://console.developers.google.com/apis/api/youtube.googleapis.com/overview?project=650384262474

It should look like below

![image](ht

[2018-12-28 14:47] day4me commented on #55
The same error.
![yapi](https://user-images.githubusercontent.com/21221420/50518791-73ced480-0aaf-11e9-88bb-15614886a1a8.png)

[2019-01-22 15:06] arramramzy opened #56 "problem with redirect url"
I saw the other issue about this but it didn't help.
I changed my redirect url both in spotify developer console and environment variables but the same error appears.

[code]

p.s: I use windows.

[2019-01-23 09:46] mr-karan commented on #56
Probably incorrect credentials supplied to Spotify.

[2019-01-31 16:05] dhillon555 commented on #27
I dont understand what I am doing wrong here, I am inserting a playlist as instructed.

![image](https://user-images.githubusercontent.com/838233/52067168-ef6de680-2571-11e9-9dee-f21d86983ed0.png)

[2019-02-07 03:42] reardenlife commented on #27
Got the same problem as @dhillon555 . :)

[2019-02-07 04:02] SathyaBhat commented on #27
The -u is when the user id who created the playlist is not the same as who's running it, it's been obsolete I think. I need to clean up the mess, I'll be reworking it once back from my vacation (~3 weeks)

[2019-02-07 04:19] reardenlife commented on #27
And here is the diferent problem.  Bad request from google:

[code]

Hmm... let-s see.

[2019-02-07 08:50] dhillon555 commented on #27
yes the issue is that when you have spotify application opened via a browser (web player) the copy playlist link is a shortened version without the username

example below from link web player this is will not work:
https://open.spotify.com/playlist/4P1iWc9CCOZnJQBfDzLTRf

The same playlist link copied from desktop application becomes full link
example below of correct format for exact same playli

[2019-02-08 15:41] reardenlife commented on #27
@dhillon555 ,
I have to admit that I haven't read the description of spotify_dl project and naively assumed that it should be something similar to youtube-dl.
Haha.  No, this is not the case.
Actually I am wondering why the author wrote this project in the first place if things like spotify-ripper already exist.

[2019-02-08 16:02] SathyaBhat commented on #27
I didn't know Spotify Ripper existed when I wrote this. I had an itch and wrote this to satisfy it. Plus, afaik Spotify ripper violates Spotify's ToS

[2019-07-03 06:01] pinkeshbadjatiya opened #57 "Spotify <--> Youtube ?"
I was actually working on a service for quite some time that does the following:
- If you like a song on Spotify, then
    - Add a song in a Spotify playlist
    - Add the same song in a Youtube playlist
- You can also download the Youtube playlist and then sync the MP3 files across devices using one of the cloud services.

I finished this one and its running on my AWS server. I just made the repo

[2019-08-26 22:03] Shadow58624 commented on #27
Maybe spotify changed something because the link is no longer in that format when retrieved from the application

[2019-10-05 08:37] SathyaBhat commented on #56
I'm going to close this for lack of response.

[2019-10-05 08:37] #56 closed

[2019-10-20 19:26] chalda opened #60 "script runs (eventually hits API quota) but no songs downloaded"
`OS: win10`
run with `spotify_dl.exe -l https://open.spotify.com/playlist/44u43xW485DUdqZVApCANu?si=eMaxtbcgRPCfM6WdcaoYRQ -o .\SpotifyMusic\`

seems to work, i get a lot of messages like:
[code]
eventually hits google API quota. but then i checked the folder and dont see any actual music in it. What could be wrong?

[2019-10-20 19:28] chalda opened #61 "Does this script scan for songs that have been donwloaded before?"
ie if i download a playlist of a 1000 songs. then add 2 more, will it scan for changes against whats saved locally or just force redownload all 1002?

[2019-10-20 19:29] chalda opened #62 "Google API key rotation"
might be against the ToS but i seem to hit the google quota pretty quick, would be possible to implement a feature to rotate keys? (I can probably submit a PR if this is a feature that would make sense)

[2019-10-20 19:30] chalda commented on #57
this actually seems like a great idea. sync spotify to youtube playlist then youtube-dl the youtube playlist straight up. this way you wouldnt run into google api quota issues.

[2019-10-21 06:20] SathyaBhat commented on #60
the script first uses the Google APIs to build up a list of songs to download and then downloads them - it is possible you hit the API quota due to the sheer number of songs. What error messages are you seeing when it fails?

[2019-10-21 06:59] SathyaBhat commented on #61
it should just fetch the new ones

https://github.com/SathyaBhat/spotify-dl/blob/ac14bb7bc60a50637be6f18f9de38b7b7c85dac5/spotify_dl/spotify.py#L80-L84

[2019-10-21 07:00] SathyaBhat commented on #62
The youtube API key is passed as an env variable and that is what is used

https://github.com/SathyaBhat/spotify-dl/blob/master/spotify_dl/youtube.py#L15

shouldn't be too much of a change to accept an array of them and use different APIs. PRs welcome, of course

[2019-10-23 09:28] pinkeshbadjatiya commented on #57
Yes, you can skip already downloaded songs using youtube-dl. I actually have the service running on my AWS instance with all the things mentioned in the Readme and it works like a charm.

[2019-10-23 09:37] SathyaBhat commented on #57
Sounds good. Can add a sync-mode which will only sync playlists

On Wed, 23 Oct 2019 at 12:28, Pinkesh Badjatiya <notifications@github.com>
wrote:

--

 -- Sathya
http://sathyabh.at | http://sbhat.me
Author, Practical Docker with Python
<https://www.apress.com/gp/book/9781484237830> & AWS Community Hero
<https://aws.amazon.com/developer/community/heroes/sathyajith-bhat/>

[2019-11-04 08:27] pinkeshbadjatiya commented on #57
@SathyaBhat  Update this issue when you do! I would love to use it once this feature is there.

[2019-11-08 16:55] chalda commented on #60
yeah thats probably it. this is a playlist of 1k songs (Discover weekly archive 😂)
would it makes sense to change the arch to query and download one song at a time this way i can actually donwload the playlist after a few runs as oppose to never getting to the end of the "initial" phase. Do the gAPI results get cached into anything? otherwise any decently large playlist will never get over the ini

[2019-12-11 19:07] jdimpson opened #63 "Support for spotify podcast"
This would be a feature request.

Could spotify-dl be enhanced to download Spotify podcasts? I'm new to this very good tool, but it appears to pull down a playlist then searches Youtube for the song. If so, my guess is this approach won't work for podcasts (unless they are also on Youtube, I guess.) Just wanted to double check. Thanks!

[2019-12-12 10:42] SathyaBhat commented on #63
Hello @jdimpson - this would be a feature request and I am not sure if I can support this. The reason spotify-dl fetches songs on youtube is that it is against Spotify's terms if a client downloads content off them.

[2020-01-15 12:14] SathyaBhat commented on #60
Turns out the quota limits have been drastically reduced

https://stackoverflow.com/questions/15568405/youtube-api-limitations/15580411#15580411

that's why we're running out of quota so fast.

[2020-02-01 13:04] barda123 commented on #60
I have just run into this same problem (attempting to get an 800-song playlist). Is there a workaround which would allow either (a) splitting the playlist up or (b) downloading 1 song at a time rather than processing the whole playlist first?

[2020-02-01 15:35] SathyaBhat commented on #60
@barda123 I've been thinking of ways of getting around this - having a separate key for read/search operations might help.

[2020-02-09 17:45] SathyaBhat commented on #51
this is fixed now in #64

[2020-02-09 17:45] #51 closed

[2020-02-09 21:29] SathyaBhat commented on #54
this is now fixed in #64

[2020-02-09 21:31] #54 closed

[2020-02-10 06:13] SathyaBhat commented on #55
I recently ran into this. This happens when you have an old API key which was created long back and never used, especially ones before the quotas were changed. Google silently deactivates them but from the UI it still shows as activated. The only workaround is create a new project & key

[2020-02-10 06:13] #55 closed

[2020-02-11 11:02] SathyaBhat opened #65 "Support for individual tracks"
if link to an individual track is provided, app crashes

ex:

[code]

as seen in sentry https://sentry.io/organizations/sathyasays/issues/1507949651/?project=2383261&query=is%3Aunresolved

[2020-02-17 08:59] kumareshr opened #66 "download 320 kpbs ?"
Am not able to find any info on quality of the songs which downloaded using this script.
Just wondering is this downloaded songs from spotify will be 320 kpbs ?

[2020-02-17 13:03] SathyaBhat opened #67 "Create a landing page and enforce a standard URL for Redirect URL"
Currently, the redirect URL is mentioned as "Note the redirect URL can be a valid URL, just ensure it matches with what you have entered in the developer console & in the environment variable above."

this is quite confusing and is not clear what needs to be provided.

The proposal is to :

- create a landing page for a redirect URL & (optionally) provide a 1-click URL to copy it
- update the docs

[2020-02-17 13:08] SathyaBhat commented on #66
Since we don't download songs from Spotify itself, the song quality will be the highest that is available on YouTube and YouTubeDL postprocessing to 192kbps

https://github.com/SathyaBhat/spotify-dl/blob/7fd4754bd441bae76fe2a58f82dbfbc69e295d7d/spotify_dl/spotify_dl.py#L41

https://github.com/SathyaBhat/spotify-dl/blob/master/spotify_dl/spotify.py#L83-L89

[2020-02-22 13:29] #66 closed

[2020-02-27 04:44] SathyaBhat opened #69 "Handle keyboardInterrupt exception better"
If spotify-dl is stopped by hitting <kbd>Ctrc</kbd>+<kbd>C</kbd>, it exists as an unhandled exception.

Instead of crashing, this should be neatly captured and handled

[2020-03-14 18:24] MacgyverMartins commented on #56
I'm having the same error.
I already check spotify clientID and secret, and made a lot of already change in callback url.
I don't know what to do now

[code]

[2020-03-14 21:18] SathyaBhat commented on #56
@MacgyverMartins can you post a screenshot of what you have defined for callback URL. This is in https://developer.spotify.com/dashboard/applications/ => select your application => click on Edit settings

[2020-03-30 11:38] SathyaBhat commented on #69
fixed in #71

[2020-03-30 11:38] #69 closed

[2020-04-05 07:38] MarkyMarkz opened #72 "What URL to set as Redirect URL?"
Hello,
do I have to have an own website for this? How do I choose the URL to which I want to redirect?
Or is the only thing that matters that is has to be a valid URL?
Thank you in advance!

[2020-04-05 14:44] SathyaBhat commented on #72
hi @MarkyMarkz

You don't need to have a website, only a valid URL(any valid URL, even if the domain doesn't resolve). When you have completed the authentication flow, Spotify will ask your browser to redirect to the URL mentioned in the redirect URL. If you provide a URL which doesn't resolve, then the browser will complain about it but you can copy+paste the URL in the terminal and it should wor

[2020-04-06 07:33] MarkyMarkz commented on #72
Hi @SathyaBhat ,

Thank you for your kind answer and this tool of yours. It works!

[2020-04-06 07:33] #72 closed

[2020-04-14 01:30] L0rdChaos opened #74 "User Athentication not redirecting me."
When I first click the link to get the first Athentication, the url does not redirect me as it said it would. When I click the link an alert appears saying:

open xdg-open
A website wants to open this application.

What is the expected redirect link?

Thanks in advance

[2020-04-14 17:55] SathyaBhat commented on #74
that is asking for your permission to do the redirect

[2020-04-14 17:56] L0rdChaos commented on #74
Yes, but when I click open, its not redirecting me

[2020-04-14 18:03] SathyaBhat commented on #74
The first hop is to open Spotify.com to authenticate you. Once you authenticate, the next hop is for Spotify to authorize your app that you create. Once you have approved Both of these, only then will you be redirected to redirect URL that you provide. This needs to be pasted into the terminal.

I’m not sure why step 1 isn’t working. That’s not something that app controls, it just asks your termin

[2020-04-14 18:40] L0rdChaos commented on #74
My terminal when I run spotify_dl:
![Screenshot at 2020-04-14 12-34-27](https://user-images.githubusercontent.com/60675698/79260966-5fe9e600-7e4c-11ea-95c9-f02c18d01243.png)

My browser(firefox) window when I open the link in the terminal:
![Screenshot at 2020-04-14 12-38-25](https://user-images.githubusercontent.com/60675698/79261311-e1417880-7e4c-11ea-8502-14f3efec352e.png)
The alert "open xdg-o

[2020-04-15 12:03] auryn31 commented on #56
I have/had the same issue. Does it work on mac?

[2020-04-15 13:38] SathyaBhat commented on #74
From the screenshot it looks like Spotify website isn't loading. There's nothing I can do about that. What does the browser console say? Any errors? What is the redirect URI you have set to?

[2020-04-15 13:38] SathyaBhat commented on #56
Yes, it does.

[2020-04-15 13:52] auryn31 commented on #56
thanks
got it to work :-)

[2020-04-16 06:06] L0rdChaos commented on #74
So I just tried it on my other machine and it seems to be working fine. Thanks for your time 🙂

[2020-04-16 06:07] #74 closed

[2020-04-16 06:08] SathyaBhat commented on #74
Glad to hear and thanks for reporting back

[2020-04-25 06:46] #50 closed

[2020-04-25 06:47] #63 closed

[2020-05-02 15:27] SathyaBhat opened #77 "Add a local search cache"
If the app crashes and is started again, it does a search of songs all over again. This is wasteful. The app should save the Name, URL, video id in a local cache (probably sqlite db) and when searching, should attempt to check the cache first before making a call to youtube.

[2020-05-10 07:08] #77 closed

[2020-05-10 07:08] #61 closed

[2020-05-10 09:25] SathyaBhat commented on #62
#73 implements web scraping, eliminating the need for key rotation

[2020-05-18 19:24] lucanello opened #81 "Compare song lengths"
Currently, there is no comparison if the found YouTube video matches the song. The only similarities are the song title and search query for YouTube.

There should be a feature added which makes sure that the found YouTube video is the right song. This feature has also been mentioned in https://github.com/SathyaBhat/spotify-dl/issues/39. But the suggested solution of using NLP for comparing the so

[2020-05-18 19:29] lucanello opened #82 "Improved history, database and statistics"
Currently, downloaded videos are saved in a .txt file which is not very handful. Informations like the song title, Spotify song ID, YouTube video title, YouTube video length and YouTube ID are missing. Also the downloaded file name and timestamps are missing.

Those informations should be added and saved in a structured format e.g. JSON, CSV or even a database like SQLite. This improvement makes t

[2020-05-18 19:31] SathyaBhat commented on #82
in https://github.com/SathyaBhat/spotify-dl/pull/80/commits/7fb57a043456145bb7d62aca2df214d783e58017 I added limited support for sqlite - primarly to save the youtube video id against the search the term. This can be expanded upon

[2020-05-18 21:09] raifpy opened #83 "Local Error | Line 120"
:)

[2020-05-18 22:35] SathyaBhat commented on #83
this is because the script doesn't support individual tracks, yet. see #65

[2020-05-19 15:58] SathyaBhat commented on #81
@lucanello adding you as the assignee - if not let me kno

[2020-05-19 19:33] #83 closed

[2020-05-22 06:17] stephen-huan opened #85 "Youtube API Resume From Interruption"
Currently, it seems that the SQLite database is used only when HTML scraping, and not when the Youtube API is used.

Are there plans to check if a Youtube video has already been found for a Spotify song, and skip doing either a Youtube API query and/or skip a youtube-dl query, depending on whether the song is in songs.txt and whether a song already has a *.mp3 file associated with it?

Also, the s

[2020-05-22 11:47] SathyaBhat commented on #85
oops, that is a bug. Didn't realize the API version is not getting cached. Will work to adding the songs fetched via API to cahce as well. There is plan to migrate all to SQLite (see #82 ). But thanks for raising this issue.

[2020-05-22 14:32] stephen-huan opened #86 "FFT/Audio Post-processing as a Song Heuristic"
Going along with the conversation in #81 and #39, while the song length heuristic is elegant and easy to program, the problem is remixes, which are rare but a possible problem. NLP is harder to program and probably error prone.  In general, neither give a guarantee of true audio similarity.

Just adding another possible heuristic into the pot - combine song length with the Fast Fourier Transform (

[2020-06-01 21:43] bencooper222 opened #87 "Doesn't work for podcasts?"
https://open.spotify.com/episode/45dTW779oW2Ut8b5VTfiMB?si=iaBexVUgRnysSdvKhWj9dw

Looks like it doesn't work for podcast show URLs, I guess because Spotify implements them differently. It's an OSS project, so no need to fix if you're not interested, just wanted to document.

[2020-06-02 08:15] SathyaBhat commented on #87
That is correct, there is no support for podcasts as of now #63

[2020-06-02 08:15] #87 closed

[2020-06-02 16:04] Paperbudha opened #88 "'[SSL: CERTIFICATE_VERIFY_FAILED]"
Hi , I am getting below errors.

First i got below

Couldn't complete search due to following errors:
Search failed due to usageLimits:accessNotConfigured, message: Project 223553941228 is not found and cannot be used for API calls. If it is recently created, enable YouTube Data API by visiting https://console.developers.google.com/apis/api/youtube.googleapis.com/overview?project=223553941228 then

[2020-06-02 19:51] SathyaBhat commented on #88
please post the contents of `pip freeze`

[2020-06-14 10:28] #88 closed

[2020-06-21 14:10] DrDBanner opened #89 "brew.sh support"
As stated in the heading. Brew.sh support would be awesome.

[2020-07-28 04:14] alex4108 commented on #67
Is any work for this started?  If not I'll be willing to take this and complete within the next week

[2020-07-28 04:17] alex4108 opened #90 "App appears to be invoking -l process despite use of -i flag"
**Describe the bug**
An attempt to download a single song using the -i flag produces an error and stack trace instead of downloading the file

**To Reproduce**
Please copy paste the entire command, running it in verbose more by passing the `-V` flag.
example: ` spotify_dl -d -i spotify:track:1WfMi7xvOti8F4dSf7atd9 -o /mnt/d/Spotify_DL/` and `spotify_dl -i https://open.spotify.com/track/1WfMi7xvOti

[2020-07-28 17:16] SathyaBhat commented on #90
thanks for reporting

[2020-08-10 20:28] SathyaBhat commented on #67
@alex4108 sorry about the late reply, but yes. its done https://github.com/SathyaBhat/spotify-dl-docs/blob/master/index.html

[2020-08-10 20:29] SathyaBhat commented on #89
@DrDBanner do you mean install via Homebrew?

[2020-09-13 13:41] DrDBanner commented on #89
yes. Correct.

[2020-09-14 15:19] The-Sal opened #95 "Alternative To Youtube Api"
The YouTube api limits the amount of calls restricting the usage per day

Can we use the built in YouTube-dl function ytsearch:(query) instead?
For example if the Spotify api returns "Feeling juice wrld" could pass youtube-dl ytsearch:"Feeling+juice+wrld"
and get something like

youtube-dl ytsearch:"juice+wrld+feeling"
[youtube:search] query "juice+wrld+feeling": Downloading page 1
[download] Down

[2020-09-14 15:23] SathyaBhat commented on #95
That's a good suggestion. There's already an enhancement which avoids the use of API thanks to a60273f1dbaef53f746003b4a56a479e1a47040f but I haven't gotten to releasing because I wanted to bring in some more changes, but have been occupied. I'll do a release this weekend with the scraper and take a look at ytsearch as well

[2020-09-19 12:07] #85 closed

[2020-09-20 06:42] SathyaBhat commented on #67
fixed in #98

[2020-09-20 06:42] #67 closed

[2020-09-20 06:46] SathyaBhat opened #99 "Update spotipy library"
Spotipy library has gotten a bunch of updates, especially around the Auth (breaking change is that `prompt_for_user_token` has been deprecated and spotifydl needs to be updated to support this

[2020-09-24 18:33] Dizzy-Head opened #100 "Getting Traceback"
after entering redirected URL I got this error

`Please navigate here: https://accounts.spotify.com/authorize?client_id=7ff235990f16446992be5ebdbf6db6fa&response_type=code&redirect_uri=https%3A%2F%2Fspotifydl.sathyabh.at%2F&scope=user-library-read

Enter the URL you were redirected to: https://spotifydl.sathyabh.at/?code=AQBn94WDaeOOIlEML_YXT3wTYd4GW4uicjgbdy7ToRSrZsiF94UPiWiOiMJMGSm17raUMM2uN4QUh

[2020-09-24 19:04] #100 closed

[2020-09-24 19:04] Dizzy-Head commented on #100
nevermind, fix after make another CLIENT ID .

[2020-09-30 01:02] GillyTheGhillie opened #101 "Playlist download doesn't remove forbidden filename characters"
If you download a playlist with invalid folder characters in the title (eg ":") it will crash the program because it tries to create a directory with that character

Reproduce: Try to download a playlist with a forbidden filename character in the title

Fix: Strip any forbidden characters from the directory name before creating the directory

Win10 Education 2003
Python 3.7

[2020-09-30 07:36] SathyaBhat commented on #101
thanks for the report. @GillyTheGhillie. Can you please add in a link to an example playlist?

[2020-09-30 21:29] GillyTheGhillie commented on #101
Sure, here you go:

https://open.spotify.com/playlist/75RZ95bDNlAPsQXaGcEqDZ

[2020-10-02 19:08] #99 closed

[2020-10-06 12:01] last72 commented on #81
Agreed. I was thinking to manually find the YouTube videos and input to provide best result. We are in same boat in whole.

[2020-10-17 18:29] SathyaBhat opened #104 "Move to the new playlist API endpoint"
Spotify has deprecated following methods and needs to be updated

Deprecated
user_playlist_change_details in favor of playlist_change_details
user_playlist_unfollow in favor of current_user_unfollow_playlist
user_playlist_add_tracks in favor of playlist_add_items
user_playlist_replace_tracks in favor of playlist_replace_items
user_playlist_reorder_tracks in favor of playlist_reorder_items
user_pla

[2020-10-25 06:54] ljfoster97 opened #106 "KeyError: 'tracks'"
Not sure what is happening. I cannot get this to work as of v6 after previously using an older version on a different PC.

[code]

[2020-10-25 06:57] SathyaBhat commented on #106
Hi, yes it’s an unfortunate regression. I’ll try to fix this soon as possible, within couple of days max.

[2020-10-26 06:47] NickJD opened #108 "Alert!: HREF in BASE tag is not an absolute URL."
**Describe the bug**
During the initial setup process, I get 'Alert!: HREF in BASE tag is not an absolute URL.' before and after being given the URL to authenticate. After the error I get presented with a black and blue screen and the only option to get out is to press 'q'. After that I get given the URL to paste in my browser, I continue with that and after a few seconds I get given another URL l

[2020-10-26 07:10] SathyaBhat commented on #108
where do you see the error? the root cause seems to be that you dont have permissions to save the token in the location and hence its failing to write it and is going in a auth loop

[2020-10-26 07:15] lucindasawyer commented on #108
please stop sending email notifications. unsubscribe me

On Mon, Oct 26, 2020 at 3:10 PM Sathyajith Bhat <notifications@github.com>
wrote:

[2020-10-26 07:21] SathyaBhat commented on #108
@lucindasawyer you have to do it yourself as I don't have any control on that https://docs.github.com/en/free-pro-team@latest/github/managing-subscriptions-and-notifications-on-github/managing-your-subscriptions

[2020-10-26 07:27] ThomasBurgess2000 opened #109 "Getting started guide has wrong redirect URI for Spotify Developer Console"
It says
`Under "Redirect URIs", enter https://spotifydl.sathyabh.at`
whereas it says to set your environment variable thus:
`export SPOTIPY_REDIRECT_URI=https://spotifydl.sathyabh.at/`
(note the slash at the end of the URL).

This produces an error where Spotify does not recognize it as a valid URI. I fixed this by adding a slash to the Redirect URI in the Spotify console, but you may also be able

[2020-10-26 08:28] SathyaBhat commented on #109
Thanks @ThomasBurgess2000, updated the docs (and that explains why I saw an increase in error reports about oAuth failures). Yes the KeyError will be fixed soon, I'd adding a bunch of related changes and cleanup along with it

[2020-10-26 08:28] #109 closed

[2020-10-26 20:05] Himohima opened #111 "Could not read .cache - loop"
So basically I started learning python lately, and found out about this (spotify_dl)
I had no issue running at until some point:

it started running using the command that was listed in the readme.md file (spotify_dl -l [link] -o [folder])

It's asking me to set up variables, Why? That will be a good question to answer if possible.
Anyways I tried but I didn't manage to set those up. And yes i hav

[2020-10-26 20:34] SathyaBhat commented on #111
spotify-dl needs to authenticate with Spotify and get the access token before it can fetch the details. The auth process uses oAuth and as a part of this, the client id, client secret and redirect URIs are required. This is why you set them up. With these values, Spotify will generate an access token that you will have to paste back to complete the auth process.

the commands are listed right here

[2020-10-26 21:04] Himohima commented on #111
Well, I have tried `export SPOTIPY_CLIENT_ID='your-spotify-client-id'
        export SPOTIPY_CLIENT_SECRET='your-spotify-client-secret'
        export SPOTIPY_REDIRECT_URI='your-app-redirect-url'`
The 3 of them... Nothing... Getting an Error.
tried `spotify_dl export SPOTIFY_CLIENT_SECRET='id'`  still nothing

[2020-10-27 02:23] WrightBlue opened #112 "SyntaxError: invalid syntax"
**Describe the bug**
[code]

**Desktop (please complete the following information):**
 - OS: Debian GNU/Linux 9.13 (stretch)
 - Python version 3.5

[2020-10-27 08:07] SathyaBhat commented on #112
You need to have python 3.6+

[2020-10-27 08:50] Himohima commented on #111
to be more specific,
`windows couldn't recognize 'export' as in internal or external cmd`

[2020-10-27 09:03] SathyaBhat commented on #111
Since you're using Windows, you can use `set` to export the variables. The [getting started](/GETTING_STARTED.md) guide has link on how to set it up permanently

[2020-10-27 09:14] #112 closed

[2020-10-27 09:26] Himohima commented on #111
I 've just did this. I made new environment variables, well user variables... not system variables and getting the same issue. i've made everything that was written in the started guide

[2020-10-27 09:32] Himohima commented on #111
and what if it returned `%SPOTIPY_REDIRCT_URL%` as a normal echo command?

sorry I know I'm a bit annoying but I'm new to this o.o

[2020-10-27 09:34] SathyaBhat commented on #111
then you typed something wrong

![image](https://user-images.githubusercontent.com/25424/97283320-5ce2a000-1848-11eb-9992-ae5a7d307927.png)

[2020-10-27 09:42] Himohima commented on #111
well, i have changed to the command prompt and it worked! It replied with the value. I don't know why it was reply as an echo back in the new terminal lol. alright. Thanks :) i will try and install a library now

[2020-10-27 09:48] SathyaBhat commented on #111
By new terminal if you mean the Windows Terminal it uses PowerShell which has a different command processor, You can use

    dir env:

to see the values.

[2020-10-27 09:56] Himohima commented on #111
`Couldn't write token to cache at: .cache` Alright, Moving on I get that now. And it opens the Spotify tab 4 times... Is that normal?

[2020-10-27 10:12] Himohima commented on #111
well, now  that after trying several times: ````
spotipy.oauth2.SpotifyOauthError: error: invalid_grant, error_description: Authorization code expired
Sentry is attempting to send 0 pending error messages
Waiting up to 2 seconds`
[code]

[2020-10-27 10:15] SathyaBhat commented on #111
It doesn't open any tabs, it prompts you to click on the link to authorize. I dont know why it does for you, there's nothing in the code that prompts opening one tab, let alone multiple.

[2020-10-27 10:24] Himohima commented on #111
![image](https://user-images.githubusercontent.com/61094545/97288775-03ca3a80-184f-11eb-9950-41bdfcdb99fe.png)
![image](https://user-images.githubusercontent.com/61094545/97288954-40963180-184f-11eb-8f6a-0692ef0951e7.png)
^^^^
and i continue in this loop around 4/5 times and then spotify_dl ends without doing anything

[2020-10-27 10:27] SathyaBhat commented on #111
that seems similar to #108 but I haven't been able to reproduce it. I will take a look when possible

[2020-10-27 10:32] Himohima commented on #111
I wanted to dowonload my playlist before going to the gym and getting a bug Wow *sad*
Alright, There is anything i can do to help you out? If you wish. i can try reinstalling or telling you how I've installed it, well i have made everything that was in the readme.md file lol

[2020-10-27 10:33] Himohima commented on #111
if you wish i can try and run it in verbos mode

[2020-10-27 10:46] SathyaBhat commented on #111
Can you try these:

    echo %CD%

    dir > .test.txt

and tell me the results? I think I found the problem

[2020-10-27 11:12] Himohima commented on #111
well(i used cmd), okay for the first command `echo %CD%` it just printed out the dir I'm in, as default  `C:\Users\accountname`

The second command it printed an empty line

[2020-10-27 12:04] Himohima commented on #111
*silence*

[2020-10-27 12:13] SathyaBhat commented on #111
Did the second command say

    Access is denied.

You can also try

    cd Documents

and then issue the spotify_dl command

[2020-10-27 12:40] Himohima commented on #111
It didn't, it just printed an empty line. Lemme try changing dir to documents and try the Spotify command.
and yet nothing....

[code]
*some links have been edited.... where I think it's dangerous to just charge them*

[2020-10-27 12:42] SathyaBhat commented on #111
Ok, so we know the original problem. This one is caused by #107 and will be fixed soon, along with your original problem.

[2020-10-27 12:57] Himohima commented on #111
so umm, is there is any way i can backup to any other version for now until it's fixed?
as i said:

that's in 2 hours, *I'm not blaming you*. Just wondering any other way I can do that?

[2020-10-27 13:00] SathyaBhat commented on #111
you can try installing the previous version

    pip install 'spotify_dl==5.0.1'

and run it from your Documents directory. That should work

[2020-10-27 13:03] Himohima commented on #111
lemme try, Thanks :)

[2020-10-27 13:07] Himohima commented on #111
[code]
Is That Normal? o.o

Since it's 130 song so it will take some time
But every song i get the same thing `couldn't find id`

[2020-10-27 13:09] SathyaBhat commented on #111
yes, that is expected.

[2020-10-27 13:12] Himohima commented on #111
If you say so...
I think I no longer need this conv, at least that's what i think....
Feel free if you wish to close it, if not and you still need to me test with you, My pleasure.

Thanks for making such an application :) 👍

[2020-10-27 13:15] SathyaBhat commented on #108
The `.cache` file which stores the access token is  created in the same directory where it is run from. In the case where the command is run from a location where you do not have write access, the access token write will fail. Will fix in the next release

[2020-10-27 13:26] Himohima commented on #111
or not wait xD,
![image](https://user-images.githubusercontent.com/61094545/97307764-ca062d80-1868-11eb-87fc-9954806c70bc.png)

Any way to skip that?

[2020-10-27 13:29] SathyaBhat commented on #111
You can use the experimental scraper flag to skip API calls, but no guarantees on that

    spotify_dl -s -l https://open.spotify.com/playlist/?si=0R3-dpmzRQaFwFELAhCX7g -o E:\moosicspotify

[2020-10-27 13:54] Himohima commented on #111
let's try

[2020-10-27 14:02] Himohima commented on #111
E:\moosicspotify>spotify_dl -s -l https://open.spotify.com/playlist/0RkPwjJCAdN7LfUSQtaphh?si=-g02yLOJSlW8A-TbsbiTGg -o E:\moosicspotify
usage: spotify_dl [-h] [-d] [-p PLAYLIST] [-V] [-v] [-o OUTPUT] [-u USER_ID] [-i [URI ...]] [-f FORMAT_STR] [-m] [-l URL] [-s SCRAPE]
spotify_dl: error: argument -s/--scrape: expected one argument

[2020-10-27 14:02] Himohima commented on #111
getting this err

[2020-10-27 14:09] SathyaBhat commented on #111
try
    spotify_dl -s true -l https://open.spotify.com/playlist/?si=0R3-dpmzRQaFwFELAhCX7g -o E:\moosicspotify

[2020-10-27 14:25] Himohima commented on #111
UnboundLocalError: local variable 'playlist_id' referenced before assignment
Sentry is attempting to send 0 pending error messages
Waiting up to 2 seconds

[2020-10-28 14:52] NickJD commented on #108
Hi, sorry for the delay. I have just tried on another machine but I get the same problem.
I have full permissions of .cache and can read/write etc in that dir.

[2020-10-28 15:00] NickJD commented on #108
Hi, I am not sure what happened but after a reboot I have gotten past that last problem. -

[2020-10-28 15:11] SathyaBhat commented on #108
Hi @NickJD you're running into #106. Pease subscribe to that for updates

[2020-10-28 15:13] #108 closed

[2020-10-29 19:57] rahulnegi20 commented on #106
Getting same error!
Help plox

[2020-10-31 10:03] #27 closed

[2020-10-31 10:03] #52 closed

[2020-10-31 10:03] #65 closed

[2020-10-31 10:03] #104 closed

[2020-10-31 10:03] #106 closed

[2020-10-31 10:29] #101 closed

[2020-10-31 10:41] SathyaBhat commented on #101
this has been fixed in [latest version](https://github.com/SathyaBhat/spotify-dl/releases/tag/v7.0.0). Please upgrade your install using

    pip install spotify_dl --upgrade

[2020-10-31 10:41] SathyaBhat commented on #104
this has been fixed in [latest version](https://github.com/SathyaBhat/spotify-dl/releases/tag/v7.0.0). Please upgrade your install using

    pip install spotify_dl --upgrade

[2020-10-31 10:41] SathyaBhat commented on #65
this has been fixed in [latest version](https://github.com/SathyaBhat/spotify-dl/releases/tag/v7.0.0). Please upgrade your install using

    pip install spotify_dl --upgrade

[2020-10-31 10:42] SathyaBhat commented on #52
this has been fixed in [latest version](https://github.com/SathyaBhat/spotify-dl/releases/tag/v7.0.0). Please upgrade your install using

    pip install spotify_dl --upgrade

[2020-10-31 10:42] SathyaBhat commented on #27
this has been fixed in [latest version](https://github.com/SathyaBhat/spotify-dl/releases/tag/v7.0.0). Please upgrade your install using

    pip install spotify_dl --upgrade

[2020-10-31 10:42] SathyaBhat commented on #106
this has been fixed in [latest version](https://github.com/SathyaBhat/spotify-dl/releases/tag/v7.0.0). Please upgrade your install using

    pip install spotify_dl --upgrade

[2020-10-31 19:27] SathyaBhat commented on #111
this has been fixed in [latest version](https://github.com/SathyaBhat/spotify-dl/releases/tag/v7.0.0). Please upgrade your install using

    pip install spotify_dl --upgrade

[2020-10-31 19:27] #111 closed

[2020-10-31 19:27] SathyaBhat commented on #90
this has been fixed in [latest version](https://github.com/SathyaBhat/spotify-dl/releases/tag/v7.0.0). Please upgrade your install using

    pip install spotify_dl --upgrade

[2020-10-31 19:27] #90 closed

[2020-11-02 09:27] quyleanh opened #115 "Could not perform scrape search for [song name], got a different HTML"
**Describe the bug**
I use spotify-dl for downloading [this playlist](https://open.spotify.com/playlist/37i9dQZF1DWX7suNVq3K4h) and get the error.

[code]

**To Reproduce**
Enter the following command
[code]

**Expected behavior**
Download as normally

**Log**
[code]

**Desktop (please complete the following information):**
 - OS: Linux
 - Python version: 3.7.3

[2020-11-06 12:22] #95 closed

[2020-11-07 17:37] SathyaBhat commented on #115
This means spotify-dl was not able to scrape the YoutUbe page. Youtube keeps sending different HTML page at different times, and scraping fails.

[2020-11-07 17:40] SathyaBhat opened #116 "Add python_requires so that pip installs only on required Python versions"
Right now pip will install spotify-dl on any Python version. setup.py now supports [python_requires](https://packaging.python.org/guides/dropping-older-python-versions/) which lets you exclude unsupported versions

[2020-11-07 17:49] #116 closed

[2020-11-07 17:51] SathyaBhat opened #118 "Improve Spotify URL validation"
Improve Spotify Playlist URL validation so that invalid URLs are caught

[2020-11-07 17:51] SathyaBhat opened #119 "Improve Spotify URL validation"
Improve Spotify Playlist URL validation so that invalid URLs are caught.

[2020-11-09 01:38] quyleanh commented on #115
So is it a bug? Because I test with other song. It has the same error.

[2020-11-09 06:46] quyleanh commented on #115
Other bug I would like to report. If I setup only `SPOTIPY_CLIENT_ID` and `SPOTIPY_CLIENT_SECRET`, there is error about setup `SPOTIPY_REDIRECT_URI`. I have enter `export SPOTIPY_REDIRECT_URI=https://spotifydl.sathyabh.at/` to by pass.

After bypassing, the `Could not perform scrape search for...` bug appears. I think this script needs to be updated.

[2020-11-09 09:30] SathyaBhat opened #120 "`SPOTIPY_REDIRECT_URI` marked as required when it is no longer needed"
Other bug I would like to report. If I setup only `SPOTIPY_CLIENT_ID` and `SPOTIPY_CLIENT_SECRET`, there is error about setup `SPOTIPY_REDIRECT_URI`. I have enter `export SPOTIPY_REDIRECT_URI=https://spotifydl.sathyabh.at/` to by pass.

After bypassing, the `Could not perform scrape search for...` bug appears. I think this script needs to be updated.

_Originally posted by @quyleanh in https://git

[2020-11-09 09:31] SathyaBhat commented on #115
@quyleanh that is correct, have opened a new bug about that. What other songs did you try with? The limitation is that songs are searched for from Youtube and if its not there, you can't get it.

[2020-11-10 03:31] quyleanh commented on #115
@SathyaBhat you can try many songs which are on Youtube but your tool cannot download.
Or could you please  send me a link of downloadable song?

[2020-11-10 10:01] #120 closed

[2020-11-14 11:32] #118 closed

[2020-11-16 19:21] BenjaminCronin commented on #115
I found a workaround for this which is generating a YouTube API key and running
[code]

This allows for downloads that bypass the HTML scraper (i'm assuming)

[2020-11-16 19:32] SathyaBhat commented on #115
@BenjaminCronin That is [expected and documented](https://github.com/SathyaBhat/spotify-dl/blob/master/GETTING_STARTED.md). That said, Youtube's quotas for a free key are quite restrictive and you can only do ~100 searches per day. The scraper is to a workaround to get around the quota limits, but if YouTube serves a different HTML (or changes the structure), the scraper breaks.

[2020-11-17 02:37] quyleanh commented on #115
@SathyaBhat you can investigate the method [youtube-dlc](https://github.com/blackjack4494/youtube-dlc) and [spotify-downloader](https://github.com/spotDL/spotify-downloader) handle with youtube.

As I compare, your tool needs some library which I have to install in system, when others do not require it.

[2020-11-17 05:50] SathyaBhat commented on #115
SpotDL needs ffmpeg just like mine.

[2020-11-17 08:50] quyleanh commented on #115
No. I didn't mean ffmpeg. There are some lib required when I install with pip command.
`Error: Please make sure the libxml2 and libxslt development packages are installed.`
You can check by yourself.

[2020-11-17 09:01] SathyaBhat commented on #115
Those are used by the libraries, presumably the ones which scrapes the HTML

[2020-11-17 09:05] quyleanh commented on #115
So you can investigate the method which my two suggestions do not require. As I can see, the scrape HTLM is problem, right? May be you can fix this bug and make your tool better?

[2020-11-17 21:18] #115 closed

[2020-11-17 21:29] SathyaBhat commented on #115
I've updated to remove my custom YT search in favour of youtube-dl which was anyway doing the heavy lifting.

Update the app

[code]

[2020-11-17 21:30] SathyaBhat commented on #95
fyi @The-Sal this was added in v7.1 in #122

Thank you for the suggestion.

[2020-11-17 21:32] SathyaBhat commented on #60
I've updated to remove my custom YT search in favour of youtube-dl which was anyway doing the heavy lifting.

Update the app

[code]

[2020-11-17 21:32] #60 closed

[2020-11-18 02:22] quyleanh commented on #115
Thank you for your update. I will test later. But how about `libxml2` and `libxslt` requirement? Do we have to use these lib?

[2020-11-18 02:28] nate131 opened #124 "Infinite Loop on Playlist Reading"
**Issue**: Verbose logging shows thousands of lines with "Artist: xxx" which never completes.

**Sample Playlist**: https://open.spotify.com/playlist/6ZUqG9zEynTVKBsgbvVikr
**Sample Command**: spotify_dl -l https://open.spotify.com/playlist/6ZUqG9zEynTVKBsgbvVikr -o . -V

**Output**:
Starting spotify_dl
Setting debug mode on spotify_dl
Checking for tokens
Tokens fetched: xxxxxxxxxxxxxxxxxxxxxxxxxx

[2020-11-18 02:28] quyleanh commented on #115
Checked and it works fine.
Just small thing about lib requirement it will be perfect.

[2020-11-18 02:45] quyleanh opened #125 "Output file and folder incorrect"
**Describe the bug**
When downloading playlist, the playlist name folder is created but all songs and txt file are still outside this folder.

**To Reproduce**
Just download any playlist

**Expected behavior**
There is only one folder with playlist name.

**Screenshots**
No need

**Desktop (please complete the following information):**
 - OS: Linux
 - Python version: 3.7.3

[2020-11-18 06:31] nate131 commented on #124
Looks like Spotify API contains a value in its 'next' element so the "while true" goes forever.

spotify.py

[2020-11-18 08:37] SathyaBhat commented on #124
yikes, looks like I don't set the offset correctly so it gets only the first page in a loop. Terribly sorry, I'll push a release later today to address this

[2020-11-18 17:05] SathyaBhat commented on #125
I can't repro this, it's saving to the right location. Please run with `-V` flag and post the results with the expected locatiom

[2020-11-18 21:38] SathyaBhat commented on #124
v7.2 #126 fixes this. Please update the app

[code]

[2020-11-18 21:38] #124 closed

[2020-11-19 02:22] quyleanh commented on #125
Here they are

[code]

`ls` command log

[code]

[2020-11-19 13:24] SathyaBhat commented on #125
working as expected:

[code]
ls '.\Your Summer Rewind\'

    Directory:  Your Summer Rewind

Mode                 LastWriteTime         Length Name
----                 -------------         ------ ----
-a----        16-11-2018     09:09        2294787 3D - Sunshine Alone.webm
-a----        06-01-2020     16:13        3789543 Ariana Grande - no tears left to cry (Official Video).webm
-a----

[2020-11-19 13:24] #125 closed

[2020-11-19 14:42] quyleanh commented on #125
What command did you tried?

[2020-11-19 14:44] SathyaBhat commented on #125
[code]

[2020-11-24 00:23] protodrew opened #127 "Downloaded files not entering directory"
**Describe the bug**
title says it all

**To Reproduce**
use the command to download anything using -l and set -o to an arbitrary directory (I used ~/Music on my linux machine)

**Expected behavior**
directory will be created and the file will enter that folder

**Desktop (please complete the following information):**
 - OS: Manjaro XFCE
- Version AUR version
 - latest

[2020-11-30 07:33] SathyaBhat commented on #127
thanks for the report. I'm looking into this

[2020-11-30 08:21] #127 closed

[2020-11-30 08:32] SathyaBhat commented on #125
I managed to find the root cause and fix the issue. Thank you for your report @quyleanh

Run

    pip install spotify_dl --upgrade

to upgrade. I've also removed the unwanted dependencies as much as I could

[2020-11-30 08:33] SathyaBhat commented on #127
I managed to find the root cause and fix the issue. Thank you for your report @protodrew

Run

    pip install spotify_dl --upgrade

to update

[2020-11-30 09:21] quyleanh commented on #125
Ok. Thank you for update.

[2020-11-30 10:27] quyleanh commented on #125
As I check, there is much better for dependencies now. I work fine.
I hope the next time you will take the report seriously. I and you just want this tool better. Right?

[2020-12-02 22:22] jjboy91 opened #130 "Cover"
Hi,

Is there a command to include the cover too ?

Thanks

[2020-12-03 20:13] SathyaBhat commented on #130
Hi @jjboy91

Not yet, there is an open PR (#76) for this

[2020-12-05 19:47] johodh commented on #130
Are metadata (track no, artist, album, title) meant to be id3-tagged into the output mp3 files? My mp3s come out with no tags at all

[2020-12-05 20:41] SathyaBhat commented on #130
@johnnysedor at least the [title and the artist](https://github.com/SathyaBhat/spotify-dl/blob/master/spotify_dl/youtube.py#L25-L26) should be id3-tagged. If not, please open a new bug

[2020-12-06 17:48] stereo18 opened #131 "Don't download"
**Describe the bug**
The program stop and no download songs and stay with `Saving songs to: Soirées 80 RETRO`

**To Reproduce**
[code]

**Expected behavior**
I want to download a playlist

**Desktop (please complete the following information):**
 - Ubuntu 20.04 LTS
 - Python 3.8.5

[2020-12-06 18:39] SathyaBhat commented on #131
Hi there,

Please don't post your tokens, it's not safe. Also, you seem to be running a really old version. Please update to the latest version

[2020-12-06 19:39] #131 closed

[2020-12-27 02:25] Fabian42 commented on #81
Example to reproduce:
Title: "Beautiful people"
Artist: "Thomas Bergersen" (together with Merethe Soltvedt)
Spotify link: https://open.spotify.com/track/4L2cTneQccxklpCcX0BboM
Duration: 4m57s

Spotify_dl downloads this YouTube video: https://www.youtube.com/watch?v=iTsz5x3abJA
Title: "Thomas Bergersen - We Are One Beautiful People" on the channel "Two Steps From Hell"
Duration: 6m47s
The channel i

[2020-12-30 04:47] bhavika opened #134 "Spotify URLs parsed incorrectly"
**Describe the bug**

Spotify playlist URLs are no longer being parsed correctly.

**To Reproduce**
Please copy paste the entire command, running it in verbose more by passing the `-V` flag.

```spotify_dl -l "https://open.spotify.com/user/bhavicka/playlist/2I855yssrTT3mWRfQrVPp2\?si\=EPR76u16R7mOBKjTMrrLgA" -o Music/DiscoverWeeklyArchive -s yes -V```

Output: <redacted tokens>
[code]

**Expected

[2020-12-30 04:54] bhavika commented on #134
Seems like all URLs now include a username - using https://github.com/SathyaBhat/spotify-dl/blob/0b77693e6151c0f42a196bd1f483c2b4f412e702/spotify_dl/spotify.py#L63 leads to `['user', 'bhavicka', 'playlist', '2I855yssrTT3mWRfQrVPp2\\?si\\=EPR76u16R7mOBKjTMrrLgA']`. So the item_type and item_id will be [2] and [3] respectively.

[2020-12-30 21:04] SathyaBhat commented on #134
Hello @bhavika, your Playlist URL format is the old URL and has been deprecated by Spotify. The new ones don't have `/user/<username>/` as part of the URL, see samples here:

https://github.com/SathyaBhat/spotify-dl/blob/master/tests/test_spotify_link.py#L5-L7

Not sure how you got the old format URLs

[2020-12-30 23:04] bhavika commented on #134
Oh wow, thank you @SathyaBhat! My guess is, for an old playlist, they haven't migrated the URL structures over to the new format.  I did verify that some of my new playlists have the format your script uses. Well, nevermind. Feel free to close this issue if you dont plan on adding backward compatibility in the parser. Thanks!

[2020-12-31 09:52] SathyaBhat commented on #134
I think the Web UI still refers to the old playlist format in some playlists. You're welcome

[2020-12-31 09:52] #134 closed

[2021-01-05 04:14] DaSniper12 opened #135 "Invalid Syntax"
**Describe the bug**
I can't run the download command for some reason. It says invalid syntax where I have the link to my playlist. Is it because of how I am running it? I am relatively new to python (I have coded in other languages before though) so maybe I am making a rookie mistake?

**To Reproduce**
spotify_dl -l "https://open.spotify.com/album/00yIpdpC0O5UFewLz6boJh" -o . -s yes -V

**Expecte

[2021-01-05 21:46] SathyaBhat commented on #135
Hello @DaSniper12

You're running it from within python's REPL, you're supposed to run outside of it, from the command line.

[2021-01-05 21:50] DaSniper12 commented on #135
I still run into an issue
![image](https://user-images.githubusercontent.com/24802395/103703787-ccbe8680-4f6d-11eb-8953-5d49991e347c.png)

[2021-01-05 22:00] SathyaBhat commented on #135
ensure it's installed

[code]

or find where it is installed

[code]

and run by providing full path

[2021-01-05 22:04] DaSniper12 commented on #135
I have installed it, at least i think, but I can't find where it is installed with the where command.
![image](https://user-images.githubusercontent.com/24802395/103704855-9b46ba80-4f6f-11eb-9055-08485ce5cd5b.png)

[2021-01-05 22:07] SathyaBhat commented on #135
looking at the pic seems you have 2 installs of python, one in c:\python39 and other in appdata\roaming\python\python and the two are getting mixed up. You should uninstall both, reboot, and reinstall only one. Once done, do a `pip3 install spotify_dl`.

[2021-01-05 22:09] DaSniper12 commented on #135
oh okay thank you! that should fix my issue.

[2021-01-19 20:05] beis92 opened #136 "failed install"
$ sudo pip3 install spotify_dl
Collecting spotify_dl
  Downloading https://files.pythonhosted.org/packages/01/b3/c4b2ebc84a35ca53a292fca7e28e6b7dd8b182e31a468ba6b174db7c8e43/spotify_dl-7.3.0-py3-none-any.whl
Collecting wheel==0.34.2 (from spotify_dl)
  Downloading https://files.pythonhosted.org/packages/8c/23/848298cccf8e40f5bbb59009b32848a4c38f4e7f3364297ab3c3e2e2cd14/wheel-0.34.2-py2.py3-none-an

[2021-01-20 11:00] onoakino opened #137 "Ability to choose song bitrate"
As I use the spotify-dl using my free account's credential/secret tokens, I noticed that all the songs downloaded were of 192kbps. Is it because I am using a free spotify account that I'm not getting the maximum 320kbps bitrate of the songs, or are there any switch on this script that I can enable to get 320kbps songs?

[2021-01-20 18:01] SuperKali commented on #137
I confirm all songs that I've tried to download with this library also with Spotify premium were downloaded 192Kbits

[2021-01-20 19:46] SathyaBhat commented on #137
The script doesn't download from Spotify

https://github.com/SathyaBhat/spotify-dl#tell-me-more

[2021-01-20 19:46] #137 closed

[2021-01-20 19:48] SathyaBhat commented on #136
try `pip3 install setuptools`

[2021-01-26 14:39] #136 closed

[2021-02-03 00:12] gonzk opened #143 "Adding Other Metadata"
(This is my first time ever posting an issue, so hopefully this is the right way to do it)

I would like to do a PR (first time as well), so that when the songs download, it'll also contain the track no, album, year, and cover. I would be using the Spotiy API to get these pieces of information.

[2021-02-03 08:37] SathyaBhat commented on #143
Hi @gonzk, that would be great., you can go for it. At the moment, only the track name, artist and album are fetched from the API but you should be able to extend it

https://github.com/SathyaBhat/spotify-dl/blob/master/spotify_dl/spotify.py#L19
https://developer.spotify.com/documentation/web-api/reference/#category-playlists

For the cover there is an open PR #76 that you can combine with in your

[2021-02-03 19:27] gonzk commented on #143
Thank you! Okay, I have other ideas of how to get the other metadata.

[2021-02-06 05:25] gonzk commented on #143
For the cover, do I have to combine with the other open PR? I just figured out how to add the cover album using a different way from the PR #76

[2021-02-06 08:19] SathyaBhat commented on #143
Hi @gonzk, you can ignore the other PR, I will close it as its far too behind the main branch

[2021-02-06 22:53] winteriscariot opened #147 "Embed track number when downloading?"
**Is your feature request related to a problem? Please describe.**
If I pull down a full album, the songs are out of order (usually listed alphabetically, in Airsonic). I have to manually go tag the files with the correct track listing after it's downloaded.

**Describe the solution you'd like**
When feeding an album link to spotify_dl, it downloads the tracks sequentially, per their position on t

[2021-02-08 19:54] SathyaBhat commented on #147
I believe this is being worked upon in #143

[2021-02-09 20:58] gonzk commented on #143
Is there anything else I need to do to my PR? I think it's finished and could be merged, if you think the issues have been addressed.

[2021-02-09 21:03] SathyaBhat commented on #143
Hi @gonzk, nothing more for you to do. I'll merge in the changes and cut a release within the next couple of days. Till then I will keep the PRs open. Thanks again!

[2021-02-13 16:56] #143 closed

[2021-02-14 21:41] SathyaBhat commented on #62
no longer relevant as we're now using youtube-dl to search and get the file

[2021-02-14 21:41] #62 closed

[2021-02-15 17:09] SathyaBhat commented on #143
Thanks again for your contributions, @gonzk. I've cut a release v7.5 which features your enhancements

https://pypi.org/project/spotify-dl/#history

[2021-02-15 17:10] SathyaBhat commented on #147
this is available in v7.5 onwards

```pip install spotify-dl```

[2021-02-15 17:10] #147 closed

[2021-02-15 17:10] SathyaBhat commented on #130
this is available in v7.5 onwards

```pip install spotify-dl```

[2021-02-15 17:10] #130 closed

[2021-02-16 09:27] SathyaBhat opened #149 "MutagenError after 7.5 release"
**Describe the bug**
Sentry reports a lot of Mutagen errors on the lines of

after the last release

**To Reproduce**
Please copy paste the entire command, running it in verbose more by passing the `-V` flag.
example: `spotify_dl -V .....`

see https://sentry.io/organizations/sathyasays/issues/2219433325/?project=2383261&query=is%3Aunresolved

**Expected behavior**
Script should not crash

[2021-02-16 09:32] SathyaBhat opened #150 "If there is no cover image spotify-dl crashes with an error"
**Describe the bug**
list index out of range error in

    cover = item['track']['album']['images'][0]['url']

**To Reproduce**
Please copy paste the entire command, running it in verbose more by passing the `-V` flag.
example: `spotify_dl -V ....

see https://sentry.io/organizations/sathyasays/issues/2219392952/?project=2383261&query=is%3Aunresolved

**Expected behavior**
spotify-dl should not cr

[2021-02-16 09:33] SathyaBhat commented on #150
cc @gonzk if you're interested in fixing this, should be an easy fix

[2021-02-16 23:39] gonzk commented on #150
Will fix this in a few days, thanks!

[2021-02-19 00:37] Sulu1415 opened #151 "Starting from where the download left off"
I had this problem where it suddenly gave an error and stopped downloading songs, this has happened to me multiple times now, and it is annoying.

I want a feature where after the song downloading process is stopped we can just start where we left off when we start downloading again, could help stop this problem.

[2021-02-19 08:54] SathyaBhat commented on #151
it should automatically resume the download from where it left off. Can you post some logs of the error or the behaviour that makes you believe it doesn't

[2021-02-19 11:16] Sulu1415 commented on #151
The problem was that when the downloader found duplicate songs in the playlist it crashed.
It gave me this error:

Traceback (most recent call last):
 File "/data/data/com.termux/files/usr/lib/python3.9/site-packages/mutagen/_util.py", line 251, in _openfile
fileobj = open(filename, "rb+" if writable else "rb")
FileNotFoundError: [Errno 2] No such file or directory: '/storage/3338-6138/Android/dat

[2021-02-19 13:46] SathyaBhat commented on #151
ah thanks, that adds some insight.

[2021-02-24 16:19] Smigedon opened #155 "Special characters incompatibility"
When songs have in the name/artist name any of those characters : **/ \ : * ? " < > |**
It seems that it automatically change it to "**#**" since windows don't like when his file has one of the special characters

It seems that the bug happen when mutagen\_util.py tries to open the file with the real name.

In my case, the name of the artist is "_re:plus_". When it download the .mp3, it change it

[2021-02-24 16:31] Smigedon commented on #155
The song still get downloaded before the crash occur. So for now, I can just download the playlist (partially), *it crash*, remove the troublesome song from the playlist, restart the download, put back the song into my playlist.

[2021-02-24 17:55] SathyaBhat commented on #155
Thanks @Smigedon for the report. This should be fixed by #152, there's another issue (#153 ) which is blocking the release, hope to have this fixed within the next week o rso

[2021-03-03 16:53] Habboman opened #156 "Where to set ffmpeg directory as a windows user?"
So I almost got your script running. But the problem I am running into is that when running on a windows device it does not find my ffmpeg and ffprobe distribution. Sadly I have not managed to find the part of your script that sends the command to ffmpeg. I assume that I have to substitute your line for ffmpeg with my directory to ffmpeg. Atleast this is in line with the other scripts I am using.

[2021-03-03 17:47] Habboman commented on #156
nevermind set ffmpeg in the path, now everything is working as intended. Thank you!

[2021-03-03 17:47] #156 closed

[2021-03-05 13:55] ibharath462 opened #157 "No such file found exception"
No such file found exception

spotify_dl -l https://open.spotify.com/playlist/5vVPDmRG73o49IKjIs9t3s?si=_5vsRsO9Q6eXhcw89Z3ghg -o /home/db_studios/Music

If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/7021596/110123216-9f178180-7de6-11eb-9d0e-32b8cca18ed5.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu 20

[2021-03-06 06:58] SathyaBhat commented on #157
Thanks for the report. I'll check this soon.

[2021-03-08 11:01] baptabl commented on #157
@ibharath462 should be fixed with https://github.com/SathyaBhat/spotify-dl/pull/158
As a workaround, you can use the `--keep_playlist_order` option, e.g.:
[code]

[2021-03-08 13:36] ibharath462 commented on #157
Dear sir,

usage: spotify_dl [-h] -l URL -o OUTPUT [-d] [-f FORMAT_STR] [-m] [-s SCRAPE]
                  [-V] [-v]
spotify_dl: error: unrecognized arguments: -k

I'm getting the current error.

[2021-03-09 07:17] SathyaBhat commented on #157
`-k` was added in #153 which is not yet published. The error is likely due to #144. I haven't had the time yet to look in but hope to check soon. In the mean time, installing a previous version

[code]

might fix the problem

[2021-03-09 14:30] ibharath462 commented on #157
This worked like charm sir, got 650 songs as mp3 for my cycle trip. Thanks again for the quick response.

spotify_dl -l https://open.spotify.com/playlist/5vVPDmRG73o49IKjIs9t3s?si=Xb8NuShRR_evrS11qXMC2g -o /home/db_studios/Music

🙏🙏❤️️❤️️

[2021-03-09 14:30] #157 closed

[2021-03-09 15:38] jdsampayo commented on #155
It would be possible to sanitize also "$"?

Having the following error:

[code]

[2021-03-13 20:24] DashGit opened #160 "Config file not working"
**Describe the bug**
When placing the config file in the specified folder in my user directory (C:\Users\Dot_Dash\.spotify_dl_settings), the settings I input do not seem to have any effect on using spotify-dl.

**To Reproduce**
Please copy paste the entire command, running it in verbose more by passing the `-V` flag.
example: `spotify_dl -V .....`
`C:\Users\Dot_Dash>spotify_dl -V -l https://open.s

[2021-03-14 07:12] SathyaBhat commented on #160
thanks for the report. The config option hasn't been touched since quite some time, so not surprised it isn't working..

[2021-03-15 23:08] davidgtl opened #161 "FileNotFoundError for some songs"
While downloading a 900+ playlist it fails to download a random song every time I run it. The song is different each time and it seems to be making progress and the problem songs are eventually correctly downloaded, however the fetch time is too long so I've only restarted the download a couple of times. This particular song seems to have a pretty good result on youtube.

[code]
I added a `try: ..

[2021-03-16 00:15] davidgtl commented on #161
Just noticed that songs with a fowardslash in their names(`Linkin Park - Numb/Encore.mp3`) generate folders. Mishandling paths might be related to the `FileNotFoundError`s

[2021-03-17 05:07] pratikbalar opened #162 "No such file or dir after downloading some songs"
**Describe the bug**
No such file or dir after downloading around 55 songs
[code]

**To Reproduce**
`spotify_dl -V -l https://open.spotify.com/playlist/2EM05rztV3ptTwObSOM9o7\?si\=N6aoBBbTQoeaf2n350_3RA\&nd\=1 -o .`

**Expected behavior**
it should continue to download music

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following info

[2021-03-17 05:47] TobiWtf commented on #162
Also having this issue, and you can't run as sudo because of the enviroment variables. Comment me if someone finds a fix.

[2021-03-17 05:48] TobiWtf commented on #162
One fix would be to allow us to pass our spotify or youtube tokens as arguments, I will attempt to make a fork later for that.

[2021-03-17 07:12] pratikbalar commented on #162
FYI im setting envs in rc file

[2021-03-17 07:53] SathyaBhat commented on #162
@TobiWtf

you can pass process specfiic env variables.

    sudo SPOTIPY_CLIENT_ID=xxx SPOTIPY_CLIENT_SECRET=xx spotify_dl ..

also what's the reason to use `sudo`?

[2021-03-17 16:19] TobiWtf commented on #162
Oh my bad, im still decently new to the linux ecosystem.

So, essentially, i am also getting an error occasionally where it will say the same thing as that guy, i can send a full log in a bit, so i was wondering if running with admin perms would allow it to write to the file anyways.

Also as an unrelated side note, the files should have some formatting, the reason i say this is because at the mom

[2021-03-17 23:42] m-mcdonagh commented on #162
The issue seems to be that there is no file, and its being opened to read. A work around I found is editing these 2 [lines](https://github.com/SathyaBhat/spotify-dl/blob/8342a39f6b85967299c61a3cee32386bdc6dd5c2/spotify_dl/youtube.py#L60) to the following, as well as adding a line before it:
[code]
This fix doesn't actually fix the one song that failed. It just prevents the script from halting in i

[2021-03-18 07:33] TobiWtf commented on #162
Interesting work around, I wonder why it's failing. This seems like it may be an issue with the youtube parser, rather than spotify. Let me take a look.

[2021-03-18 07:34] TobiWtf commented on #162
Took a look. Seems like this is a ``youtube_dl`` issue.

[2021-03-18 07:35] TobiWtf commented on #162
Maybe try re-querying the youtube if the song fails, and restarting the process for said song?

[2021-03-18 07:36] pratikbalar commented on #162
i tried re-running several times but doesn't work

[2021-03-18 08:44] SathyaBhat commented on #162
The error is not from Youtube-dl but rather from Mutagen which is used to write back the metadata to the file

probably some mismatch between how mutagen sanitizes the filename vs how the script saves it

[2021-03-26 18:14] zoreu opened #163 "requesting api"
**Describe the bug**

keep asking for api

**To Reproduce**
example: `spotify_dl -l https://open.spotify.com/playlist/20QkI44y4b7U1kisXyv2Qi -o mp3`

**Expected behavior**
I wanted to download the files

**Screenshots**
https://i.imgur.com/TNIhpSh.jpg

**Desktop (please complete the following information):**
 - OS: [Windows 10 20H2]
 - Python version 3.8.1

[2021-03-26 22:03] #163 closed

[2021-03-27 18:56] n0tthetree opened #164 "Not possible to pass "False" to the CLI argument -d (--download)"
-d is configured as a flag, meaning you cannot pass any further information to it. The download-option is true as a default as well as when -d is given.

Expected behaviour: i expect -d to be relevant :)

[2021-03-27 19:18] n0tthetree commented on #164
#165

[2021-03-27 19:23] n0tthetree commented on #164
#165

[2021-03-30 05:36] tonyd33 opened #167 "TypeError if local song in playlist"
**Describe the bug**
spotify_dl crashes with a TypeError if a local song exists in a playlist it's trying to download.

**To Reproduce**
Add a local file to a spotify playlist and try to run spotify_dl on it. I wanna mention that the file I had was on a hard drive that I removed, but I think the same error would happen regardless, since it's looking like it's failing to get album and/or release da

[2021-03-30 20:07] TROFER commented on #162
I was experiencing this issue and it seems to be fixed in #152 providing you still install using pip and replace youtube.py and utils.py with the latest versions from the repository this will resolve the issue

[2021-04-01 11:26] Habboman opened #168 "Playlist downloading stops on some titles / How to skip titles instead of aborting the whole download."
Most playlists I tried to download right now seemed to stop on some tracks. Then nothing else happens. The youtube downloader has a -i argument to ignore tracks that did not function. This downloader just aborts the whole process. I do not have to get all tracks, but just 3 from a playlist if the 4th fails is pretty bad. Does anyone have an idea how to fix it?

This should reproduce the problem:
`

[2021-04-08 09:48] thesadru opened #170 "Cannot download songs which are only invalid characters."
**Describe the bug**
When trying to download songs like [/ / // / /]("https://open.spotify.com/track/3gCPs1TDRH9v9QlF5h3zD5")

**To Reproduce**
Please copy paste the entire command, running it in verbose more by passing the `-V` flag.
example: `spotify_dl -V -l "https://open.spotify.com/track/3gCPs1TDRH9v9QlF5h3zD5" -o "."`
[code]
**Expected behavior**
The characters should have been somehow escap

[2021-04-08 16:52] LuluDavid opened #171 "mutagen.MutagenError: [Errno 2] No such file or directory"
**Describe the bug**
I have several songs in playlists that seem to cause the same error, whihc by the way also stops the playlist's download instead of just skipping the song. The error's stack trace is the following :
[code]

**To Reproduce**
I have put the problematic songs in a specific playlist for you to test if it works on your station. Just type :
[code]

**Desktop**
- OSX Big Sur 11.2.2
-

[2021-04-08 17:41] SathyaBhat commented on #171
Thank you! this is very helpful.

[2021-04-08 20:49] LuluDavid commented on #171
@SathyaBhat Seems to be a duplicate of #168 #162 #161 & most importantly your issue #149. I think it comes from the brackets or the and ("[", "]", "&") in the first song, and the commas (",") in the  3 lasts.
I just don't get it for the second one (maybe a hidden special space), but it has to be some kind of name escape problem, I'll take a look into it. I am sure of it as I also got some similar

[2021-04-09 19:40] SathyaBhat commented on #171
this is released with 7.6 release https://github.com/SathyaBhat/spotify-dl/discussions/174. please update and try it out

[2021-04-09 19:40] #171 closed

[2021-04-09 19:40] SathyaBhat commented on #168
this is released with 7.6 release https://github.com/SathyaBhat/spotify-dl/discussions/174. please update and try it out

[2021-04-09 19:40] #168 closed

[2021-04-09 19:41] SathyaBhat commented on #162
this is released with 7.6 release https://github.com/SathyaBhat/spotify-dl/discussions/174. please update and try it out, if not open a new issue

[2021-04-09 19:41] #162 closed

[2021-04-09 19:41] SathyaBhat commented on #161
this is released with 7.6 release https://github.com/SathyaBhat/spotify-dl/discussions/174. please update and try it out, if not open a new issue

[2021-04-09 19:42] SathyaBhat commented on #149
fixed with 7.6 release https://github.com/SathyaBhat/spotify-dl/discussions/174

[2021-04-09 19:42] #149 closed

[2021-04-09 19:42] #161 closed

[2021-04-09 19:42] SathyaBhat commented on #150
this is fixed  with 7.6 release https://github.com/SathyaBhat/spotify-dl/discussions/174. please update and try it out, if not open a new issue

[2021-04-09 19:42] #150 closed

[2021-04-09 19:44] SathyaBhat commented on #155
this is fixed with 7.6 release https://github.com/SathyaBhat/spotify-dl/discussions/174. please update and try it out, if not open a new issue

[2021-04-09 19:44] #155 closed

[2021-04-09 20:37] nealonhager opened #175 "Special characters in artist name fails download"
**Describe the bug**
Artist has a ':' in the name, which gets converted to '#' somewhere in the code. but the code doesn't look for the version with '#' it looks for ':' and fails before starting the next song.

**To Reproduce**
spotify_dl -V -l https://open.spotify.com/album/41RHNc47RzqBt9FBmhb8YY -o .

**Expected behavior**
Download playlist with artist containing a ':' character

**Screenshots*

[2021-04-09 20:37] nealonhager commented on #175
probably related to #170

[2021-04-11 10:53] phyzical opened #176 "Second pull of a spotify playlist returns undefined/ error code"
Environment

docker (debian)

master up-to-date

Install Source:
npm/ dockerfile in source

Expected Behavior

i can re run spotifiy downloader for the same url over and over and get a success exit code in command line
Actual Behavior

actual behavior
it returns "undefined" and throws a SIGTERM or ERR
Steps to Reproduce

[code]
above is the bash script, first run will download and return a valid e

[2021-04-12 18:05] SathyaBhat commented on #176
Thank you for the report. This is quite strange, I will check

[2021-04-12 23:55] phyzical commented on #176
Ah sorry.... posted when it was late too many similar projects...

this is the one i am using https://github.com/SwapnilSoni1999/spotify-dl

closing as i am retarded :D

[2021-04-12 23:55] #176 closed

[2021-05-01 07:02] XuliGan4eg2006 opened #177 "Add argument for downloading songs without creating floder"
I suggest adding a parameter for downloading tracks without creating a folder and a parameter for a custom track name

[2021-05-06 15:19] dagolinuxoid commented on #177
Yeah! I often download a single tracks rather than playlists, so it would be nice to put just tracks into specified path without wrapping them into an additional folder.

[2021-05-20 17:57] josemapi2012 opened #178 "Error downloading songs"
Its just found youtube song right, but at the moment of the download every single time its return "Error in output template: unsupported format character '/' (0x2f) at index 42 (encoding: 'UTF-8')"

[2021-05-22 21:32] oskiwii opened #179 "TypeError: 'NoneType' object is not subscriptable"
Starting spotify_dl
Saving songs to: bruh
Traceback (most recent call last):
  File "D:\Programs\Python\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "D:\Programs\Python\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "D:\Programs\Python\Scripts\spotify_dl.exe\__main__.py", line 9, in <module>
  File "D:\Programs\Python\lib\site-packages\s

[2021-05-23 18:22] SathyaBhat commented on #179
@oskiwii can you post the playlist you used?

[2021-05-23 22:25] bankai20 opened #180 "TypeError: 'NoneType' object is not subscriptable"
**Describe the bug**
During fetching the songs it suddenly outputs this error. I've no idea to debug which song title it crashes.

**To Reproduce**
Type this command
spotify_dl -V -l https://open.spotify.com/playlist/65cBExnqjfZlQmMecc2Vex?si=f18f0afca2b34d84 -o /home/olaf/Music

**Expected behavior**
Work flawlessly

**Screenshots**
Non related
better idea to give the complete output(new on GitHu

[2021-05-24 06:59] oskiwii commented on #179
https://open.spotify.com/playlist/0hmaYBHxb5pfov8CbCowUY?si=1P0uI25fSgeF_rB-6HrX8Q&utm_source=copy-link

Here ya go.

[2021-05-24 07:02] oskiwii commented on #180
i get the exact same bug, except it doesnt fetch the songs, just crashes

[2021-05-24 08:58] bankai20 commented on #180
Hey there

hey there. I solved the issue by changing the code, now it downloads(on the download process of installing my huge playlist. I hope it will work fine until the end)
I hope the developer of this project do see this and add this bandage or come up with a better idea :D I am sorry again for being such a noob on github and showing this on this page instead of a pull request? or something.

[2021-05-24 11:17] SathyaBhat commented on #179
Thanks. Looks like one of the tracks doesn;t have a release date so it's crashing. I'll push a fix and update here when its released

[2021-05-24 13:13] SathyaBhat commented on #170
ha, this is amusing. I'll take a look

[2021-05-24 16:27] oskiwii commented on #179
Yea, just made a few modifcations to my version to find out what song. Its unavaliable on Spotify, but is stIll on the playlist? weird lol ... (p.s. the song is Wonderland by Underwaterbeats)

[2021-05-24 16:29] oskiwii commented on #180
yea i found the problem. for me, it occurs because one of the songs is unavailiable, and thus does not have a `release_date` causing it to crash. The dev said that he'll look at a fix :)

[2021-05-29 08:39] #179 closed

[2021-05-29 08:39] #180 closed

[2021-05-29 08:39] SathyaBhat commented on #178
Need more details than this. Please use the template

[2021-05-29 08:39] #178 closed

[2021-05-29 08:42] SathyaBhat commented on #151
this should be fixed with #174

[2021-05-29 08:43] #119 closed

[2021-06-08 07:05] andrewtanyinkit opened #182 "Can't get it to work"
I am using a windows 10 machine, at first try (`spotify_dl true -l https://open.spotify.com/track/xxxxxxxxxxxxxxx?si=xxxxxxxxxxxxxxx -V -m -o E:\`) i got a message

    You need to set your Spotify API credentials. You can do this by setting environment variables like so:

            export SPOTIPY_CLIENT_ID='your-spotify-client-id'
            export SPOTIPY_CLIENT_SECRET='your-spotify-client-se

[2021-06-08 13:36] SathyaBhat commented on #182
this means the client id and secret that you have configured in Spotify developer console doesn't match the values that you set.

[2021-06-08 13:36] #182 closed

[2021-06-17 20:29] woeterman94 opened #184 "How to setup clientId and Secret"
How to set the clientid and secret?

![image](https://user-images.githubusercontent.com/5755057/122467991-6f6a3f00-cfbb-11eb-9c38-a104a51d152b.png)

Also please in your readme tell us that we need to register an application on spotify, otherwise this script does not work...

[2021-06-19 13:58] #184 closed

[2021-06-22 18:48] shobhitparvan opened #186 "Warning"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Please copy paste the entire command, running it in verbose more by passing the `-V` flag.
example: `spotify_dl -V .....`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please com

[2021-07-04 20:09] michaelkarlcoleman opened #187 "/usr/bin/env line cleanups (no python, no carriage return)"
The file `spotify_dl/spotify_dl.py` is in "DOS" mode, having carriage returns at the end of each line.  This doesn't matter to Python, but it does matter to the kernel for the "/usr/bin/env" line.  Though this gets fixed (apparently) when the file is installed, it would be nice for debugging purposes if it were correct from the start.  The solution is to remove all carriage returns from the file,

[2021-07-04 20:14] michaelkarlcoleman opened #188 "Add mention of 100 track limit issue to docs?"
Summary: Might be worth mentioning in the docs that if your playlist download unexpectedly clips at 100 tracks, it might be because the playlist only _has_ 100 tracks.

After an hour of debugging, I realized that my playlist itself had only 100 tracks (when I was expecting 1500).  Why?  Who knows.  I created it through the Windows Spotify client a few months ago.  Maybe there was a bug in their cl

[2021-07-04 23:17] michaelkarlcoleman opened #189 "the --version flag should work alone"
The `--version` flag should work even if no other flags are given.

[code]

[2021-07-06 18:40] SathyaBhat commented on #189
yeah, that's a catch with ArgParser. With the most recent update, spotify-dl prints teh version on startup so I will be removing this flag

[2021-07-06 21:39] michaelkarlcoleman commented on #189
Ah, I see where you're going.  It's likely too picayune to say, but arguably `--output` could just default to the current working directory and `--url` could be the (sole) positional argument.

In any case, it's working well for me, and this is my nomination for "Project of the Year"!

[2021-07-09 12:03] Laar3 commented on #177
Yeah this would be really useful.

[2021-07-12 08:26] SathyaBhat commented on #188
I'm not entire sure what 100 limit you're mentioning, spotify-dl does fetch and page through all the times. https://github.com/SathyaBhat/spotify-dl/blob/master/spotify_dl/spotify.py#L19-L29

[2021-07-12 08:30] #186 closed

[2021-07-12 19:29] michaelkarlcoleman commented on #188
Yes, `spotify-dl` works correctly.  In my case, I created a playlist of all of my tracks on the Spotify site (using either the website or the Windows 10 client).  Although I did nothing special, the site clipped that to 100 tracks.  Presumably an upstream bug of some sort.

I foolishly started with the idea that there was a paging issue, before finally discovering that the playlist itself had only

[2021-07-13 06:54] SathyaBhat commented on #188
ah right. Thanks for clarifying

[2021-07-13 06:54] #188 closed

[2021-07-13 09:15] SathyaBhat commented on #177
@XuliGan4eg2006 @Laar3 @dagolinuxoid where would you prefer to have the file saved? Same place as where you invooked spotify-dl from?

[2021-07-13 10:31] XuliGan4eg2006 commented on #177
To a specific directory, which can be specified by passing a parameter with the path

[2021-07-13 10:32] SathyaBhat commented on #177
you can do that currently with `-o` parameter

[2021-07-13 10:34] XuliGan4eg2006 commented on #177
and he will create a folder with the song, and it is necessary that only the song (without the folder)

[2021-07-13 10:34] SathyaBhat commented on #177
Got it 👍🏼

[2021-07-13 11:09] Laar3 commented on #177
As xuligan said I mean that it should just put the song in the folder without creating a folder Inside that folder fo rthe song.

[2021-07-13 11:14] SathyaBhat commented on #177
@Laar3 makes sense. thanks!

[2021-07-14 10:11] mrsolider opened #193 "No such command whatever I do"
I tried to install on ubuntu and on arch. Neither of my two distributions allowed me to use the spotify_dl command. (bash: spotify_dl: no such command) Pip installed the package sucesfully.

[2021-07-14 16:21] #193 closed

[2021-07-16 07:54] #187 closed

[2021-07-19 15:27] JOJ0 opened #197 "ModuleNotFoundError: No module named 'peewee'"
Hi I wanted to quickly give spotify-dl a try. Fired up a python 3.9 venv and launched setup.py install:

[code]

**Desktop (please complete the following information):**
 - OS: macOS 10.13 High Sierra
 - Python Python 3.9.6

[2021-07-19 15:29] JOJ0 commented on #197
after pip installianng peewee, it works.
it was just missing in the requirements.txt
HTH

[2021-07-19 18:30] SathyaBhat commented on #197
peewee is there in the reqs.. https://github.com/SathyaBhat/spotify-dl/blob/v7.6.0/requirements.txt

it was removed couple of days back but I haven't pushed the release yet

[2021-07-19 21:10] JOJ0 commented on #197
Interesting, it seems it wasn't installed when I did `python setup.py install`. Installed from git master cloned today.

[2021-07-19 21:11] JOJ0 commented on #197
checked again: yes it's just missing in master branch: https://github.com/SathyaBhat/spotify-dl/blob/master/requirements.txt

[2021-07-19 21:15] SathyaBhat commented on #197
ah, https://github.com/SathyaBhat/spotify-dl/blob/master/spotify_dl/models.py, it is  referenced from https://github.com/SathyaBhat/spotify-dl/blob/master/spotify_dl/spotify_dl.py#L13 but peewee is not there any more, hence the exception.. just that there should be no reference to peewee or models.py

thanks for raising the issue. I'll fix it soon

[2021-07-19 22:29] makeworld-the-better-one opened #199 "Issue converting some songs to MP3 with docker only"
**Describe the bug**

When downloading the song Locket by Crumb, only the `.webm` is downloaded, and it is never converted to MP3. See these logs from docker:

[code]

When running outside of docker, these logs are produced and there is only an MP3 file:

[code]

**To Reproduce**

[code]

vs

[code]

Just use any playlist with Crumb - Locket in it.

**Expected behavior**

Docker and non-docker act

[2021-07-26 04:16] mrchrisster commented on #177
I'm having an issue where the playlist I'm trying to download has emojis in it so it fails to create the directory. Can I just download it to the dir specified with -o ?

[2021-07-26 06:07] SathyaBhat commented on #177
Unfortunately not, it would try to create a sub-directory with the name of the playlist

https://github.com/SathyaBhat/spotify-dl/blob/master/spotify_dl/spotify_dl.py#L80-L81

[2021-07-26 12:57] SathyaBhat commented on #177
@mrchrisster can you link me to a playlist which has an emoji in it?

[2021-07-26 13:52] mrchrisster commented on #177
https://open.spotify.com/playlist/7GVx9Oo8GJqK2xZLUgQs0g?si=T8er1u2GTR2vr7B9sZSmVA&utm_source=copy-link&dl_branch=1

[2021-10-03 03:07] Asher-MS opened #204 "Add about how to set environment variables in windows in the help message"
The current help message which is displayed when the environment variables containing **SPOTIPY_CLIENT_ID** and **SPOTIPY_CLIENT_SECRET**  are not present contains only the ways to add the env variables on linux systems.
So please add the ways to do this in windows also

[2021-10-03 20:41] devstra commented on #89
Is this issue still relevant? I'd like to give it a go if possible 😃 .

[2021-10-03 20:53] SathyaBhat commented on #89
sure, go for it

[2021-10-04 13:07] SathyaBhat commented on #204
done via #205

[2021-10-04 13:07] #204 closed

[2021-10-05 16:41] zCr1z opened #208 "My spotify Playlist keeps getting stuck at random times"
**Describe the bug**
I am downloading a spotify playlist with x amount of songs and it get stuck at random song number at random percentage.

**To Reproduce**
Please copy paste the entire command, running it in verbose more by passing the `-V` flag.
example: `spotify_dl -V .....`

**Expected behavior**
i was downloading a 69 songs playlist in one go and this python command keeps getting stuck at r

[2021-10-09 22:30] devstra commented on #89
This is what I have so far. I'm not yet sure if it builds the binary properly yet and there's still improvements to be made to the formula file, but feel free to try it out.

`spotify-dl.rb`
[code]

[2021-10-10 16:44] SathyaBhat commented on #89
hi, @devstra  thank you for this. please open a PR so we can iterate on this

[2021-10-13 16:58] SathyaBhat opened #214 "Move to youtube-dlp from youtube-dl"
**Describe the bug**
Youtube-dl hasn't been updated since June & is causing many download failures. Switch to [youtube-dlp](https://github.com/yt-dlp/yt-dlp) and see if any further changes are needed

[2021-10-17 16:38] #214 closed

[2021-11-01 05:05] yotoered opened #220 "Pass youtube cookies to youtube-dl to download age restricted videos?"
I'm trying to download a playlist with explicit songs and it fails. youtube-dl has the --coookies option but how do I enable that with spotify_dl?
`[download] Downloading video 1 of 1
[youtube] lZfPgtZPffY: Downloading webpage
[youtube] lZfPgtZPffY: Refetching age-gated info webpage
WARNING: unable to download video info webpage: HTTP Error 410: Gone
[youtube] Downloading just video lZfPgtZPffY be

[2021-11-01 15:12] SathyaBhat commented on #220
Hi, thanks for the report. Do you have a sample playlist that I can try?

[2021-11-01 17:42] taksh108 opened #221 "Slow download speeds."
**Describe the bug**
I am getting download speeds of less than 50 Kbps. It takes forever for downloading even 2-3MB files.
Is this an expected behaviour?

**To Reproduce**
spotify_dl -l -v "https://open.spotify.com/playlist/3OPNr0gieErXlFDqZnRLu3?si=1c49e658bd434ccf" -o /Users/takshshah/Music/pot-dl

**Expected behavior**
Faster Download speed

**Screenshots**
<img width="752" alt="Screenshot 2021

[2021-11-01 23:05] yotoered commented on #220
Yes, here you go https://open.spotify.com/playlist/519t85WQsIF9DdmzSeICz7
spotify_dl fails to download the 12th song.

[2021-11-02 07:14] SathyaBhat commented on #221
the download speeds are entirely driven by  your network connection, spotify-dl cannot and has no means of influencing/making downloads faster or slower.

[2021-11-02 07:14] #221 closed

[2021-11-02 09:21] taksh108 opened #223 "Adding a file to list the remaining songs"
**Is your feature request related to a problem? Please describe.**
Sometimes, the download may get stuck or stopped. (maybe an hardware or network issue)
In such cases, it'd be helpful to have s list of songs remaining to be downloaded from a playlist so we can download just that

**Describe the solution you'd like**
A Text file with the list list of songs that were not downloaded so far.
Also, ma

[2021-11-02 17:17] taksh108 commented on #223
Hey, am I new to Github contributions. Since you assigned me this, am I to assume that I have to work on developing this feature?

P.S., If so, do understand I'll need at least over a month work on this. I was also thinking of working on a GUI, but that'd be based on SwiftUI and for Macs (maybe iOS)

[2021-11-02 18:05] SathyaBhat commented on #223
@taksh108 I assigned to you because you said you're interested in working on it :) you can take all the time. As for GUI, I'd prefer for the repo to be for the CLI bits, you can always create a separate repo for the GUI & I can link to it from here

[2021-11-02 18:10] SathyaBhat commented on #223
see also: https://github.com/SathyaBhat/spotify-dl/discussions/218

[2021-11-02 18:43] taksh108 commented on #223
Thanks for clarifying. Since I'm just a learner, this might be great opportunity for me to learn. I shall start working on this soon.
As for the Guide, I did find some repos but they hadn't been updated in forever. The discussion you shared is recent so I'll just see what I can contribute to that. Thanks

[2021-11-03 08:24] taksh108 opened #224 "Add synchronous download"
**Is your feature request related to a problem? Please describe.**
Downloading 1 song or playlist at a time seems slow. What I'd like is an option to download multiple songs simultaneously

**Describe the solution you'd like**
Adding an argument to specify number of simultaneous downloads. Can raise multiple instances of YouTube-dl I think to get this done.

[2021-11-04 23:50] judaew opened #225 "The PyPi archive is missing requirements.txt file"
**Describe the bug**

`requirements.txt` file is missing during build from PyPI. At build time, pip is not used to download dependencies, as [MacPorts](https://www.macports.org) build ports in an isolated environment. The workaround at the moment is to [create this file myself](https://github.com/macports/macports-ports/blob/5fe868994606965c6f6a0419eb60369cdf73f8fc/multimedia/spotify_dl/files/requ

[2021-11-06 16:28] SathyaBhat commented on #225
Thanks for the report, will take a look

[2021-11-06 16:32] judaew commented on #225
Thanks for a great project!

[2021-11-12 06:01] Aayush2492 opened #227 "Downloading multiple playlists/albums/tracks"
**Is your feature request related to a problem? Please describe.**
We should be able to add multiple links separated by whitespaces after the `-l` argument to download multiple playlists/albums/tracks.

**Describe the solution you'd like**
Passing the parameter `nargs = '+'` in the add_argument function [here](https://github.com/SathyaBhat/spotify-dl/blob/4de5a9e2f94c307218903b3a4748273e257f3cb3/s

[2021-11-12 07:04] SathyaBhat commented on #227
@Aayush2492 please open a PR for the changes

[2021-11-19 02:52] Alexandre425 opened #228 "Hanging on playlist download and occasional invalid_client error"
**Describe the bug**
Downloading a playlist will sometimes raise `spotipy.oauth2.SpotifyOauthError: error: invalid_client, error_description: Invalid client`, or otherwise just hang indefinitely, showing `Got item type playlist and item_id 5UY1EL4sCtXqb81gXFIarO?si=835a86c523e54557` as the last message when ran in debug mode.

**To Reproduce**

An example of a crash:
[code]

and a hang:
[code]

Th

[2021-12-02 12:37] SathyaBhat opened #230 "we should ideally be using PathLib to make it crossplatform compatible"
we should ideally be using PathLib to make it crossplatform compatible

_Originally posted by @SathyaBhat in https://github.com/SathyaBhat/spotify-dl/pull/229#r761051946_

[2021-12-31 05:11] Aayush2492 commented on #227
[Done!](https://github.com/SathyaBhat/spotify-dl/pull/231#issue-1091420256)

[2022-01-21 13:12] #160 closed

[2022-01-22 22:03] #225 closed

[2022-01-22 23:22] SathyaBhat opened #235 "No output folder configured even when folder is passed"
**Describe the bug**
Exception: No output folder configured even when folder is passed:

[code]

**To Reproduce**
Please copy paste the entire command, running it in verbose more by passing the `-V` flag.
example: `spotify_dl -V .....`

[code]

**Expected behavior**
Spotify-dl should not crash when folder is provided. regression from #233

[2022-01-23 01:05] giorgos-athanassopoulos opened #236 "Downloads are really slow"
**Describe the bug**
Really slow downloads(50kbps).This bug is also reported by more people in a discussion.(not the closed issue)

**To Reproduce**
Please copy paste the entire command, running it in verbose more by passing the `-V` flag.
spotify -l https://open.spotify.com/playlist/37i9dQZF1DX6P51sFpSo2r?si=1d082a1fe2a4497d -o $HOME/Downloads/

**Expected behavior**
Faster download speeds.I have

[2022-01-23 14:58] MaigoULTD commented on #236
spotify-dl uses youtube-dl to download the mp3's from youtube. There have been several reported issues with using youtube-dl lately, and reports of YouTube throttling youtube-dl downloads. When i use youtube-dl by itself, i get the same issue.

I'd recommend using yt-dlp (https://github.com/yt-dlp/yt-dlp).

[2022-01-23 16:26] SathyaBhat commented on #236
@MaigoULTD you are correct, switching to youtube-dlp does fix it. That said, I'm yet to publish the changes youtube-dlp. I've been cleaning up some of the code, should be releasing it soon enough

[2022-01-24 10:52] #235 closed

[2022-01-25 10:05] SathyaBhat commented on #236
this should be fixed in v8.0 https://github.com/SathyaBhat/spotify-dl/releases/tag/v8.0.0

[2022-01-25 10:05] #236 closed

[2022-01-25 10:05] SathyaBhat commented on #227
thanks @Aayush2492. this is released in v8.0 https://github.com/SathyaBhat/spotify-dl/releases/tag/v8.0.0

[2022-01-25 10:05] #227 closed

[2022-01-26 20:05] LytixDev opened #240 "Won't run due to UnboundLocalError"
Won't run due to UnboundLocalError

[code]

This is on Linux
Python version = 3.10.2

[2022-01-26 20:08] SathyaBhat commented on #197
fixed in previous version

[2022-01-26 20:08] #197 closed

[2022-01-26 20:16] SathyaBhat commented on #240
You shoould be passing `-o` to where to download

[code]

will download to the current directory. That said, it shouldn't be throwing this error, I will fix this in the next release

[2022-01-29 14:15] spicysardine commented on #240
this program does not work. Thank you for the try though.

[2022-02-01 17:26] LuluDavid commented on #224
Maybe directly delegating to the --concurrent-fragments flag (from [yt-dlp](https://github.com/yt-dlp/yt-dlp)'s README) would be useful for this matter.
Else, this issue concerns more yt-dlp than this repository right ?

[2022-02-06 12:26] hede0n opened #246 "It is fetchng too many songs and therefore never starts to download"
Sample of playlist this is happening on: https://open.spotify.com/album/6pYNEn4tMc6gdv5fIZf5yn?si=o4yWkRvYTXS5_YolBw6J3g

![image](https://user-images.githubusercontent.com/11692717/152680614-e1dcbc4d-166e-4130-82d8-932567b3fe45.png)

[2022-02-06 15:12] #240 closed

[2022-02-06 16:21] #246 closed

[2022-02-06 16:48] SathyaBhat commented on #246
thank you for the report. This is has been fixed in 8.1 release  https://github.com/SathyaBhat/spotify-dl/discussions/250

[2022-02-07 10:38] NicolaSmaniotto commented on #224
I don't think multiple downloads would help much, since it already fills the available bandwidth.
Maybe the process could be sped up by creating other threads, so for example one searches the videos, one downloads and one converts to mp3.
It would require a pretty big change in how the code works, but I think it would be worth it in the long run.

[2022-02-15 11:30] StafrGotar commented on #220
Try this:
https://open.spotify.com/album/1TSP3lAaTm0rdrUkneLhLu?si=O5MdXoQhQNidtb1SUyxiBg

I guess songs number 8 and 10 fail due to the featured artist named 'Rimshot'. :-)

[2022-02-21 10:22] Arnav-arw opened #251 "Able to pass Spotify credentials like ClientID and Client Secret can be passed in the terminal command itself."
I am trying make a script where adding Spotify credentials in the environment wouldn't be possible so it would be great if we could just pass those details in the command itself.

We make make the command look like this:
`spotify_dl -l "$Link" -c ClientID=$ClientID Secret=%Secret`

And if "-c" isn't mentioned than spotify_dl will use the environment object.

[2022-02-21 11:27] SathyaBhat commented on #251
You can do this via environment variables itself (at least on Linux)
[code]

[2022-02-21 12:58] Arnav-arw commented on #251
Oohhh nice thanks! Now it works great!
Also is there any way to not store the final output in a folder?

[2022-02-21 13:04] Arnav-arw commented on #251
Cool no problem!

[2022-02-21 13:04] #251 closed

[2022-03-02 17:38] ilyss01 opened #252 "Invalid playlist ID, reason: None"
**Describe the bug**
Invalid playlist ID, reason: None
I've exported client ID and client secret

**To Reproduce**
spotify_dl -l https://open.spotify.com/playlist/23ojBaYBy88zt5uK48TDWm/s -o ~/Music/

**Expected behavior**
To start downloading music

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/47274578/156416986-d3

[2022-03-02 18:19] #252 closed

[2022-03-02 18:19] ilyss01 commented on #252
Solved it by removing '/s' at the end of the link

[2022-03-02 19:05] ilyss01 opened #253 "Couldn't read cache"
**Describe the bug**
Couldn't read cache at: .cache
Couldn't write token to cache at: .cache
I've exported SPOTIFY_CLIENT_ID and SPOTIFY_CLIENT_SECRET. spotify-dl is executed by root

**To Reproduce**
spotify_dl -l https://open.spotify.com/playlist/23ojBaYBy88zt5uK48TDWm -o ~/Music/

**Expected behavior**
To start downloading music

**Screenshots**
![image](https://user-images.githubusercontent.co

[2022-03-04 08:54] #253 closed

[2022-03-04 08:54] SathyaBhat commented on #253
these messages

shouldn't affect downloading in any form, but it looks like your filesystem permissions are messed up or too restrictive and hence seeing the errors

[2022-03-05 20:08] Muhammad-Abubakr opened #254 "Support for Album art"
I started using this tool a week ago and wanted to store all the music that I played on spotify to my local storage. This tool makes it way easier to do. So, thanks so much for that. The only thing that seems to be missing is the album art support. Will it be possible to add it to the tool ?

I know that this tool is based on yt-dl which I am not familiar with but I use youtube-dl which has suppor

[2022-03-08 12:45] OlegSea opened #255 "Allow skipping non-music sections using SponsorBlock API integrated in yt-dlp"
If `-s` or `--skip_non_music_sections` is passed to `spotify-dl`, use `--sponsorblock-remove music_offtopic` yt-dlp argument.

[2022-03-08 13:46] SathyaBhat commented on #255
This is a neat idea

[2022-03-08 14:10] OlegSea commented on #255
I'm currently trying to implement it

[2022-03-08 17:08] KrLx1994roller commented on #255
Really interesting idea! Could you please post an example so that I can understand better this concept, tho? Thanks in advance!

[2022-03-08 19:29] OlegSea commented on #255
Song called "YoiYoi Kokon" by REOL has a 6-second long intro not related to music. If the song is in the playlist I want to download, once it downloads, it'll have that 6-second intro embedded, which is not nice. My suggestion is that attribute `-s` should automatically remove those using SponsorBlock API
 SponsorBlock allows people to mark annoying parts of the video like sponsored sections, anno

[2022-03-08 19:43] KrLx1994roller commented on #255
Awesome, sounds great, thanks you very much for the explanation!

[2022-03-13 03:32] ydnmas opened #259 "The ability to start a download from a certain playlist position."
So I mainly use spotify dl for a personal playlist I have and as time goes on that playlist changes, it'd be nice to be able to start spotify dl from a certain playlist location so I don't have to spend extra time downloading the whole playlist and then getting the songs I want, downnloading each individual song or making a new playlist for songs.

[2022-03-22 10:15] KushalTanna24 opened #260 "Not able to download exact song"
I am not able to download the exact song, when i paste the link inside the cmd... it searches the exact keyword on youtube and downloads the nearest match.. and that is not the exact song. For Eg. I was looking for Ranjana lofi mix but it downloads the original/another lofi mix of that title.
Can I turn off the youtube search somehow.? Or is there any solution.?

[2022-03-22 10:23] SathyaBhat commented on #260
There's no solution. PRs on improving this are welcome

[2022-03-22 10:23] #255 closed

[2022-03-22 12:33] #151 closed

[2022-03-25 06:30] FantasqueX opened #261 "Upgrade the dependency rich version"
Hi! I would like to package spotify_dl for ArchLinux. However, I notice the version of dependency rich is below 12 which conflicts with the package in ArchLinux official repository. I wonder whether it is possible to upgrade the version of rich to the latest version. Thanks!

[2022-03-25 19:56] SathyaBhat commented on #261
Hi, thanks for letting me know. I’ll check if it’s feasible and update it.

[2022-04-06 09:26] Pythonic456 opened #263 "Support for liked songs?"
Your liked songs are at this URL: https://open.spotify.com/collection/tracks
And I wanted to try downloading all my liked songs, but `spotify_dl -l https://open.spotify.com/collection/tracks` gives this output:
[code]
So is there a way without manually adding all of my liked songs to a new playlist and downloading that?

Thanks :)

[2022-04-10 03:27] pmunozroa commented on #175
same for me
![image](https://user-images.githubusercontent.com/40769812/162600165-bc96c725-7235-439d-98be-636a6a5e7863.png)
To Reproduce
`spotify_dl -l https://open.spotify.com/playlist/37i9dQZF1DXdPcuTtZNPGI?si=d3c59310b48741ae`

[2022-04-15 14:55] Timecraft122 opened #264 "Bug Crash"
I am french.

Spotify-dl crash while retrieving titles.

[code]

Download my playlist.

 - OS: Windows 10
 - Python 3.10

[2022-04-17 16:46] SathyaBhat commented on #264
This looks like an auth issue. Please verify your client id / secrets are correct

[2022-04-19 14:37] SathyaBhat commented on #264
#228

[2022-04-19 14:37] #264 closed

[2022-04-19 15:43] #261 closed

[2022-04-19 16:30] FantasqueX opened #267 "Upgrade the dependency spotipy version"
Hi! I notice the version of dependency spotipy is compatible with 2.16.0 after upgrading to v8.2.0 which conflicts with the package in ArchLinux official repository whose version is 2.19.0. I wonder whether it is possible to upgrade the version of spotipy to the latest version. Thanks!

[2022-04-19 20:21] SathyaBhat commented on #267
Hey @FantasqueX, created a new 8.3.0 release with the updated spotipy dependency. Let me know if this the job https://github.com/SathyaBhat/spotify-dl/releases/tag/v8.3.0

[2022-04-20 03:42] FantasqueX commented on #267
Thanks!

[2022-04-20 03:42] #267 closed

[2022-04-20 15:16] Advik-B opened #270 "Make spotify-dl a python lib so that another project and import and use it"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Make spotify-dl a python lib so that another project and import and use it

**Describe alternatives you've considered**
spotDl

**Additional context**
Your project seems MUCH cooler and IT WORKS. pls make it a python lib (with docs) so that we can import your amazing project

[2022-04-22 01:03] worldpe opened #271 "Program Not Installing Properly"
Whenever I attempt to use the command spotify_dl (have copy pasted many times), I am told that the command is not found. First, I did pip3 install spotify_dl, this worked successfully, then I typed the command and it very much existed. I then got my api keys and put them in as env variables (I have tried with them commented out), and the command began saying it was not found. I tried reinstalling

[2022-04-22 09:08] SathyaBhat commented on #254
The album art is already added to the song files.

[2022-05-07 15:40] reoccurcat commented on #270
I would very much like this as well.

[2022-05-07 15:42] reoccurcat commented on #263
You could do `ctrl+a` on your liked songs (selecting them all) like this:

![image](https://user-images.githubusercontent.com/84601340/167261525-4d7e6110-eccd-4a65-a05d-9ff18a944456.png)

and then right click and add them to a playlist as a workaround.

[2022-05-07 20:13] Pythonic456 commented on #263
Huh, ok. Will try that, and in the meantime I guess I can close this issue.

[2022-05-07 20:13] #263 closed

[2022-05-08 09:16] SathyaBhat commented on #263
If you need a more hands-off approach and use [IFTTT](https://ifttt.com) you can use this applet that I created & use https://ifttt.com/p/sathyabhat/applets/zk3HxwyE

[2022-05-11 07:57] OlegSea commented on #259
I suggest adding an -O option.
Something like -O 2 would start from the third song. Will work on implementing this right now.

[2022-05-14 17:15] chrisuzokwe opened #276 "Skip songs that have "access denied" in download process"
If I download a long playlist and one track doesn't have YouTube download rights I have to restart the whole download from scratch. Is there an option to skip these tracks instead of restarting the process?

[2022-05-14 17:23] chrisuzokwe commented on #177
I think forcing a folder creation actually makes it so the overwrite method doesn't work because you're always downloading to an empty file.

[2022-05-14 17:46] SathyaBhat commented on #276
hm, it should skip downloading and continue as usual. Do you have an example? Can you post the logs?

[2022-06-29 03:27] Marcioghiraldelli opened #278 "download flac format"
I'm trying to force download in flac format but I'm not having success, is there a possibility to force download in flac format?

[2022-06-30 15:59] SathyaBhat commented on #278
No, this is currently not possible. You can use the `--skip_mp3` option and use ffmpeg to convert it to flac. As you may notice, this doesn’t really get you a true flac file, but such is the problem from downloading from YouTube.

[2022-06-30 16:03] Marcioghiraldelli commented on #278
@SathyaBhat i need to download in a high quality to mp3 so can i change the download bitrate? I saw that it looks like the default is 192kbps and I wanted to download at 320kbps. It would be possible ?

[2022-06-30 16:33] SathyaBhat commented on #278
It downloads at best quality - `bestaudio/best`. The downloaded audio is then post-processed to 192kbps mp3, hence my suggestion to download with skip-mp3 and process it to your liking.

[2022-07-02 08:42] badrihippo opened #279 "Generate an M3U playlist from the downloaded files"
**Is your feature request related to a problem? Please describe.**
My original problem was that I wanted my downloaded files to be played in the same order as the original playlist. As I was opening this issue, I discovered the `-k` option which does just that: prepending a number to the files so they play in order!

That said, it would still be handy to have an M3U playlist file which plays all t

[2022-07-05 13:08] SathyaBhat commented on #270
This is not a bad idea, but will need a full rewrite. I've often considered this but haven't found the time to do this

[2022-07-09 15:24] lpryszcz commented on #253
For me the problem was running the program from my $HOME (`~/`), because `.cache` is a system directory and `spotify_dl` tries to write it's own cache to `.cache` file. The solution is as simple as changing the working diectory, ie
[code]

@SathyaBhat, thanks for writting it up. it's truly fantastic!

[2022-07-11 05:44] SathyaBhat commented on #279
Hi @badrihippo I didn't think many people would be using m3u playlists to this date.  I can certainly see the appeal. a PR to include this feature is welcome.

https://github.com/SathyaBhat/spotify-dl/blob/master/spotify_dl/spotify_dl.py

Is the main entry point of the script and the songs dictionary has details fetched from Spotify API. Hope this is good enough to get you started

https://github.

[2022-07-16 07:01] SathyaBhat opened #282 "Is there a way to force it to skip/bypass sponosrblock check? Ran into several issues when sponsorblock servers are down and majority of files have no sponsor block info available anyways."
Is there a way to force it to skip/bypass sponosrblock check? Ran into several issues when sponsorblock servers are down and majority of files have no sponsor block info available anyways.

_Originally posted by @brad-00 in https://github.com/SathyaBhat/spotify-dl/discussions/281_

[2022-07-28 03:18] cornerkey opened #285 "'requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: https://accounts.spotify.com/api/token' and 'spotipy.oauth2.SpotifyOauthError: error: invalid_client, error_description: Invalid client'"
**Describe the bug**
It is a bug applying only to me as far a I can see because I haven't found anyone else experiencing the same issue

**To Reproduce**
spotify_dl  -V -l https://open.spotify.com/playlist/2PlGSBmlFCdyCW13u3gsja?si=21bb59d6f1e14b49 -o F:\Music\DepresedRap\

**Expected behavior**
It gives a bunch of traceback calls and I don't understand any of the errors
C:\Users\Corne>spotify_dl

[2022-08-04 12:53] 362227 opened #287 "downloaded wrong song"
https://open.spotify.com/track/23Pi81mwR6wNeFhym9mUMx?si=9e4f69734ab446f9

downloaded wrong song, Its not "Carly Rae Jepsen - Beach House"

[2022-08-08 18:14] adammckay commented on #285
I had this problem as well.  I am using Windows and when I set the SPOTIPY_CLIENT_ID and SPOTIPY_CLIENT_SECRET, the documentation says to surround with single quotes.  An hour later, I figured out that I need to remove those quotes or they get sent by Spotipy as part of the script.  Hope that helps.

[2022-08-11 06:19] badrihippo commented on #279
Oops, sorry, I somehow missed this notification till now! Thanks for the info @SathyaBhat, I'll take a look when I have the time and send in a PR :slightly_smiling_face:

[2022-08-17 04:36] SathyaBhat commented on #287
spotify-dl uses yt-dlp to download, and depending on how successful yt-dlp is, it may or may not get the right song, especially if the song is niche/unknown.

[2022-08-17 04:38] SathyaBhat commented on #285
@adammckay can you let me know if you were using Windows Terminal or the older cmd terminal?

[2022-08-17 04:44] adammckay commented on #285
@SathyaBhat I think I used both.  I am definitely a heavy user of Windows Terminal and I'm sure I used it first.  However - I ultimately ran my commands in a .bat file so it would have opened by default in the old cmd terminal.

[2022-08-25 10:09] MHXXX opened #294 "Errors will occur when using in Python 3.8"
**Describe the bug**
Errors will occur when using in Python 3.8

**To Reproduce**
Setting debug mode on spotify_dl                                                                                   spotify_dl.py:69
Checking for tokens                                                                                                  scaffold.py:24
Tokens fetched: xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxx

[2022-08-26 00:40] SathyaBhat commented on #294
Can you post the results of `pip freeze`?  Seems more related to spotipy that I use https://github.com/plamere/spotipy/issues/647

[2022-08-26 09:44] MHXXX commented on #294
the results of `pip freeze`

[code]

[2022-08-26 09:50] MHXXX commented on #294
Oh, thank you. I've upgraded urllib3 to `1.26` and now it's working!

[2022-08-26 09:50] #294 closed

[2022-08-28 05:37] SathyaBhat commented on #228
same as #285

[2022-08-28 05:37] #228 closed

[2022-08-30 10:31] 0nvx52lt opened #295 "Native nsig extraction failed"
<h3>I get the error-message:</h3>

[code]

but after that nothing happens, the terminal is loading but nothing happens afterwards

<h3> I used the following command with su, sudo and without any higher rights: </h3>

[code]

<h3>The problem is:</h3>
It just prints the error-message as seen above and below and loads permanently without any progress

<h3>Screenshot:</h3>

![image](https://user-image

[2022-09-21 06:36] marconovino opened #298 "Please change the command for when your client isnt set up"
When you dont set up the client, the instructions for windows CMD say to use '' around your client id and client secret, unless you remove those it will never work. Please update it so that it shows you dont need quotes

[2022-09-23 07:56] kithstack1 commented on #224
i have implemented this here [spotifydl with multiprocessing](https://github.com/kithstack1/spotify-dl-with-multiprocessing) but yeah the tests with pytest still giving me issues , other than that , everything works just fine

[2022-09-26 14:09] kithstack1 commented on #298
can u elaborate on this .. kind of unclear

[2022-09-26 21:00] kithstack1 commented on #298
ohh i get u. the credentials need not be enclosed in quotes.
question here though. is the token caching working for u. like after u have downloaded and exited  the terminal
are u prompted again for user tokens when u return

[2022-09-26 21:12] kithstack1 commented on #298
anyone interested in checking out how fast this program can be with multiprocessing .. feel free to check out my fork while i wait for a PR merge. [link here](https://github.com/kithstack1/spotify-dl-with-multiprocessing).
specify number of cores to use with the `mc` option ie `spotify_dl -l [link] [anotherlink] -mc 5` will download using 5 cores .. depends on howmany u have anyway

[2022-09-29 08:31] Computerdores commented on #298
are u prompted again for user tokens when u return
No, caching doesn't appear to work by just removing the quotes

[2022-09-29 08:31] Computerdores commented on #298
I have an idea though, gonna test really quick

[2022-09-29 08:40] Computerdores commented on #298
Ok, so the way to go is this:
[code]
Where you replace `<your-spotify-client-id>` and `<your-spotify-client-secret>` respectively. Only possible problems with this:
- it requires elevated priviledges
- I needed to restart my shell (could've easily been a windows bug though)

[2022-10-03 10:21] kithstack1 commented on #170
what if all special or illegal characters in a doqnload query instead of being replaced with something else are prepended [escaped] with a back slash `\`.. how is that

[2022-10-04 11:50] SathyaBhat commented on #170
@kithstack1 the script is used on all OS, and escaping with `\` is not valid because WIndows considers `\` as a reserved character, thus filenames cannot have `\`

<img width="259" alt="image" src="https://user-images.githubusercontent.com/25424/193811955-5242460f-9674-4ea6-8033-d74bc4e21aae.png">

for this reason the sanitze function exists, but that replaces all "illegal" characters with.. nothi

[2022-10-06 12:17] Diiak opened #304 "Add the option to download through proxies"
**Is your feature request related to a problem? Please describe.**
Optimise bandwidth, download speed with proxies

**Describe the solution you'd like**
I would like to contribute to the project by adding this option myself.

**Additional context**
I would like to participate in this open source project and I will be happy to implement the proxies in this project :)

[2022-10-07 04:07] SathyaBhat commented on #304
How do you mean by a proxy? How would proxies help if you have low bandwidth? Ultimately you will still download via your ISP to your local, so proxy doesn't seem to make much sense. Happy to hear more

[2022-10-09 15:58] Diiak commented on #304
Hello,

In fact, proxies can be useful for some people who are looking to optimize their download speed, not necessarily those with a bad connection, I misspoke. It's always an interesting option when it comes to downloading.

If it suits you I could try to implement it :)

[2022-10-10 01:24] SathyaBhat commented on #304
@diiak for sure, contributions are always welcome. I would request you to either wait till I merge #300 in ( wait for couple of days, max) because that PR changes a lot of things and the diff can get messy.

[2022-10-23 23:43] Marcioghiraldelli opened #309 "Error SponsorBlock"
The system downloads but does not convert to mp3 due to the error below, is there a way to skip this check?
Because it does not convert and is in webm format

[SponsorBlock] Fetching SponsorBlock segments
WARNING: Unable to communicate with SponsorBlock API: The read operation timed out. Retrying (1/3)...
WARNING: Unable to communicate with SponsorBlock API: The read operation timed out. Retrying

[2022-10-25 16:58] OscarBurr commented on #309
I am also experiencing this. Downloads as Webms but doesn't turn them into MP3s. What's the fix?

[2022-10-25 16:59] Marcioghiraldelli commented on #309
It seems that the SponsorBlock server is out and for some reason spotify-dl depends on it, when it doesn't find it it ignores the conversion and gives an error.

[2022-10-25 17:02] OscarBurr commented on #309
that's very frustrating. Do you know of any alternatives to spotify_dl?

[2022-10-25 23:38] SathyaBhat commented on #309
The sponsorblock API is used to fetch skippable segments and then the file is converted to mp3 in the post processor step. It looks like if the sponsorblock API is not available, the postprocessor errors out and the file will be downloaded but not converted to mp3.

You can take the downloaded files and convert them to mp3 using other converters in the meantime. I'll look at seeing if there's ways

[2022-10-26 03:00] Marcioghiraldelli commented on #309
the converter helps in parts.
If you use ffmpeg for example, it doesn't convert a downloaded playlist well. It works if it's just a file, it would be interesting to skip this check in case of server failures

[2022-10-26 11:40] OscarBurr commented on #309
has this been fixed? I just attempted to download with the full intention of then manually converting the Webms - but it seems to be up and running and converting properly again mate.

[2022-10-26 14:40] Marcioghiraldelli commented on #309
Yes, looks like it came back

Em qua, 26 de out de 2022 08:40, OscarBurr ***@***.***>
escreveu:

[2022-10-29 14:18] OscarBurr commented on #309
it seems sponsorblock is gone once again

[2022-10-30 00:57] SathyaBhat commented on #285
The docs have been updated to reflect this. Thanks again.

[2022-10-30 00:57] #285 closed

[2022-10-30 01:06] #309 closed

[2022-10-30 01:25] SathyaBhat commented on #304
this is available from release 8.5.0 https://github.com/SathyaBhat/spotify-dl/discussions/313

[2022-10-30 01:25] #304 closed

[2022-10-30 01:25] SathyaBhat commented on #298
Docs have now been updated

[2022-10-30 01:25] #298 closed

[2022-10-30 01:25] SathyaBhat commented on #282
this is available from release 8.5.0 https://github.com/SathyaBhat/spotify-dl/discussions/313

[2022-10-30 01:25] #282 closed

[2022-10-30 01:27] SathyaBhat commented on #224
this is available from release 8.4.0 https://github.com/SathyaBhat/spotify-dl/discussions/307

[2022-10-30 01:27] #224 closed

[2022-10-30 01:29] SathyaBhat commented on #189
This is fixed as of v8.4.0 https://github.com/SathyaBhat/spotify-dl/discussions/307

[2022-10-30 01:31] SathyaBhat commented on #175
this is fixed

[2022-10-30 01:31] #175 closed

[2022-10-30 02:01] Marcioghiraldelli commented on #309
thanks

Em qua, 26 de out de 2022 08:40, OscarBurr ***@***.***>
escreveu:

[2022-11-04 11:53] numeropi opened #314 "Can't fetch info or download playlist"
Not sure if the reason is bcs i'm trying to download an episode which is inside a playlist but the tool doesn't show any explicit reason why it can't download or fetch info... even with verbose...

➜  New Playlist spotify_dl -l https://open.spotify.com/playlist/75NEJbzbpRrjF6HTMRJewv -V
[12:49:47] Starting spotify_dl v8.5.0

[2022-11-05 06:44] kithstack1 commented on #314
It aint a bug ,, what you are trying to download isn't supported by the tool at least for now.. sorry.. maybe a bit more description to the readme  to clarify the tool is mainly for songs

[2022-11-05 16:40] numeropi commented on #314
No need to be sorry :-)
Yeap, not a bug per se. Maybe would be better some catch handler in case that is not the supported content to say it while trying to download. But in README would be interesting too, thanks.

[2022-11-06 00:43] SathyaBhat commented on #314
It does warn you if you pass a podcast link but never thought I'd see podcast in a playlist. thanks for the feedback

[2022-11-14 14:20] Diiak opened #315 "Create a GUI interface"
I would like to create an **interface** for this application. This would be done with the PyQt framework. This would help new users and those who are not comfortable with the command line to understand how the application works. 🐍

**I will be happy to do this !**